{{define "wap/about.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>关于我们</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/wap_about.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- banner -->
    <section class="banner">
        {{ range .data.banner}}
                <img src="{{.Imgurl}}" alt="">
        {{end}}
    </section>
    <!-- 品牌介绍 -->
    <section class="pub brand">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_con">
            <p>2014年依据哈佛教育研究学院、康奈尔大学教育理论，由易乐教育科技集团联合《走遍美国》《BBC英语》优质资源，参照美国幼儿教育协会NAEYC教育标准，打造出“布罗卡斯智能英语”教学课程体系。并与美国、台湾技术团队及语言专家联合打造“BROCA智能学”在线AI学练系统。</p>
            <p>截至目前在全国100多个城市，已有近300多家合作校区（数量持续增长中……），每年都有超过数10万名儿童在此学习，通过人机互教陪伴孩子快乐地学习英语、轻松提分，并快速提升孩子综合英语能力，已然成为中国孩子智能化快速学习英语的首选。</p>
            <p>“BROCA智能学”在线学习系统于2016年获得中国教育学会“十二五”科研项目成果奖，成为中国外语教育研究中心中小学英语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位。</p>
        </section>
    </section>
    <!-- 品牌起源 -->
    <section class="pub brand_com">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌起源
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_com_con">
            <h3 class="com_tit">源于19世纪脑科学布罗卡斯语言区理论体系</h3>
            <p class="com_con">1861年法国脑科学家布罗卡斯发现“布罗卡斯区” 负责语言的学习和储存，1996年美国康奈尔大学研究证实并发表于《nature》，同年哈佛大学通过科学扫描技术确认布罗卡斯区在幼儿时期3周岁左右开始发育，12岁左右发育基本成熟关闭。</p>
        </section>
    </section>
    <!-- 品牌荣誉 -->
    <section class="honor pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌荣誉
                <span class="tit_icon"></span>
            </h3>
        </section>
    </section>
    <section class="brand_ul">
        <section class="pc-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img  src="http://img.mofashuxue.com/pic_medal4.png?imageslim" /></div>
                    <div class="swiper-slide"><img  src="http://img.mofashuxue.com/pic_medal5.png?imageslim" /></div>
                    <div class="swiper-slide"><img  src="http://img.mofashuxue.com/pic_medal6.png?imageslim" /></div>
                    <div class="swiper-slide"><img  src="http://img.mofashuxue.com/pic_medal7.png?imageslim" /></div>
                    <div class="swiper-slide"><img  src="http://img.mofashuxue.com/pic_medal8.png?imageslim" /></div>
                </div>
            </div>
        </section>
    </section>
    <!-- BROCA英语六大优势 -->
    <section class="pub six">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA英语六大优势
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="six_ul">
            <dl>
                <dt class="six_ul_tit"><span class="smallIcon"></span>精英团队</dt>
                <dd class="six_ul_con">由打造《走遍美国》《BBC英语》《波波嘟的一天》的梦工厂制作团队创办</dd>
            </dl>
            <dl>
                <dt class="six_ul_tit"><span class="smallIcon"></span>国际标准</dt>
                <dd class="six_ul_con">参照美国幼教协会NAEYC课程标准，获得国际、国内多项科研成果及权威认证奖项</dd>
            </dl>
        </section>
        <dl class="mid">
            <dt class="six_ul_tit"><span class="smallIcon"></span>市场独家</dt>
            <dd class="six_ul_con">由自主研发全体系教材及教具，拥有独立知识产权，严控渠道，确保唯一性</dd>
        </dl>
        <section class="six_ul last">
            <dl>
                <dt class="six_ul_tit"><span class="smallIcon"></span>市场独家</dt>
                <dd class="six_ul_con">由自主研发全体系教材及教具，拥有独立知识产权，严控渠道，确保唯一性</dd>
            </dl>
            <dl>
                <dt class="six_ul_tit"><span class="smallIcon"></span>权威认可</dt>
                <dd class="six_ul_con">被授予”中国外语教育研究中心”战略合作及中小学英语教育实验基地</dd>
            </dl>
        </section>
        <section class="six_ul last_item">
            <dl>
                <dt class="six_ul_tit"><span class="smallIcon"></span>优质资源</dt>
                <dd class="six_ul_con">中国外语教育研究中心中小学英语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位</dd>
            </dl>
        </section>
    </section>
    {{template "wap_footer"}}
    <script>
        window.onload = function() {
            var swiper = new Swiper('.swiper-container',{
                autoplay:3000,
                speed:1000,
                autoplayDisableOnInteraction : false,
                loop:true,
                centeredSlides : true,
                slidesPerView:2,
                pagination : '.swiper-pagination',
                paginationClickable:true,
                prevButton:'.swiper-button-prev',
                nextButton:'.swiper-button-next',
                onInit:function(swiper){
                    swiper.slides[2].className="swiper-slide swiper-slide-active";
                },
                breakpoints: {
                    668: {
                        slidesPerView: 1,
                    }
                }
            });

            isAndroid();

            function isAndroid() {
                var u = navigator.userAgent;

                if (u.indexOf("Android") > -1 || u.indexOf("Linux") > -1) {

                    $('.swiper-slide').css({"transform":"scale(0.9)"})
                }
            }
        }
    </script>
{{end}}