{{define "wap/ai.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>AI学习平台</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/wap_ai.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- 顶部轮播图 -->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ range .data.banner}}
                    <div class="swiper-slide">
                        <img src="{{.Imgurl}}" alt="">
                    </div>
                {{end}}
            </div>
        </div>
    </div>

    <!-- AI智学系统 -->
    <section class="pub school">
        <img src="{{.data.school.Imgurl}}">
    </section>
    <!-- AI自适应 -->
    <section class="pub imgList">
        {{ range .data.ai}}
            <img src="{{.Imgurl}}">
        {{end}}
    </section>
    <!-- AI自适应系统 -->
    <section class="pub auto">
        {{ range .data.aiAuto}}
            <dl style="background:#014B99 url({{.Imgurl}})  no-repeat top center">
                <dt>{{.Bname}}</dt>
                <dd>
                    <p class="autoLine"><span></span></p>
                    <p class="con">{{.Info}}</p>
                </dd>
            </dl>
        {{end}}

    </section>
    {{template "wap_footer"}}
{{end}}