{{define "wap/campus.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>全国中心</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/wap_campus.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- 顶部轮播图 -->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ range .data.banner}}
                    <div class="swiper-slide">
                        <img src="{{.Imgurl}}" alt="">
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <!-- 线上线下 -->
    <section class="campus pub">
        <img src="{{.data.offline.Imgurl}}">
    </section>
    <!--300 -->
    <section class="broca_dl">
        <dl>
            <dt><strong>300</strong>+家校区</dt>
            <dd class="show_img"><img src="/static/assets/img/ico_education@2x.png"></dd>
        </dl>
        <dl>
            <dt><strong>100</strong>+个城市</dt>
            <dd class="show_img"><img src="/static/assets/img/ico_city@2x.png"></dd>
        </dl>
        <dl>
            <dt><strong>10</strong>万+名儿童</dt>
            <dd class="show_img"> <img src="/static/assets/img/ico_education.png"></dd>
        </dl>
    </section>
    <!-- 地图 -->
    <section class="map pub">
        <img src="{{.data.map.Imgurl}}">
    </section>
    {{template "wap_footer"}}
{{end}}