{{define "wap/detail.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>新闻资讯</title>
        {{template "wap_header"}}
        <link href="/static/wap/css/wap_detail.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "wap_nav"}}
    <section class="detail">
        <h1 class="detail_tit"></h1>
        <p class="detail_date"></p>
        <p class="detail_line"></p>
        <section class="detail_con"></section>
    </section>
    <input type="hidden" value="{{.detail}}" class="detail_id">
    {{template "wap_footer"}}
    <script type="text/javascript" src="/static/index/detail.js"></script>
{{end}}