{{define "wap_footer"}}
    <footer>
        <section class="footer_con pub" id="fedbook">
            <section class="footer_right">
                <section class="banner_form">
                    <form method="post" action="" name="myform" id="myform">
                        <input type="hidden" name="com" class="c-com" value="">
                        <input type="hidden" name="client" value="wap">
                        <h3 class="join_tit">填写表单</h3>
                        <section class="form_tit">
                            <span>姓名：</span>
                            <input type="text" placeholder="" name="mname" class="c-name">
                        </section>
                        <section class="form_tit">
                            <span>电话：</span>
                            <input type="text" placeholder="" name="tel" class="c-tel">
                        </section>
                        <section class="form_tit">
                            <span>地区：</span>
                            <input type="text" placeholder="" name="area" class="c-area">
                        </section>
                        <section class="subBtn">
                            <button class="submit btn bottom_btn">提交</button>
                        </section>
                        <p class="promise">我们承诺您的信息将严格保密请放心填写</p>
                    </form>
                </section>

            </section>
            <section class="footer_left">
                <p class="ico_logo"><img src="http://img.mofashuxue.com/ico_logo.png?imageslim" class="lazy" style=""></p>
                <section class="footer_left_con">
                    <section class="footer_right_con">
                        <section class="sqdh">
                            <p class="bottom_con">授权电话</p>
                            <span class="bottom_line"></span>
                        </section>
                        <section class="bottom_phone">
                            <img src="/static/assets/img/ico_phone.png">
                            <p>400 175 9669</p>
                        </section>
                        <section class="sqdh zbdz">
                            <p class="bottom_con">总部地址</p>
                            <span class="bottom_line"></span>
                        </section>
                        <section class="bottom_address">
                            <img src="/static/assets/img/ico_address.png" class="lazy" style="">
                            <p>北京市海淀区首体南路22号楼国兴大厦16A</p>
                        </section>
                        <section style="font-size: 12px;transform: scale(0.6);width: 100%;display: inline-block;text-align: center;">
                            网站备案/许可证号：<a href="https://beian.miit.gov.cn">京ICP备20014303号-2</a>投资有风险，加盟需谨慎
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </footer>
    <div class="foot-box"><a href="tel:4001759669">免费电话</a><a href="#fedbook" style="background-color: rgb(157, 200, 22)">留言咨询</a></div>
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/wap/js/layer.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/static/wap/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/wap/js/jquery.hiSlider.js"></script>
    <script type="text/javascript" src="/static/wap/js/common.js"></script>
{{end}}