{{define "wap/join.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>北京易学教育科技有限公司</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/join.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!--导航-->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="http://img.mofashuxue.com/mobiel_banner.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="http://img.mofashuxue.com/mobile_banner2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--表单-->
    <section class="banner_form_warp pub" id="banner_form">
        <section class="banner_form">
            <form method="post" action="" name="myform" id="topmyfrom">
                <input type="hidden" name="com" class="c-top_com" value="/">
                <h3 class="join_tit">免费领取加盟资料</h3>
                <section class="form_tit">
                    <span>姓名：</span>
                    <input type="text" placeholder="" name="mname" class="c-name">
                </section>
                <section class="form_tit">
                    <span>电话：</span>
                    <input type="text" placeholder="" name="tel" class="c-tel">
                </section>
                <section class="form_tit">
                    <span>地区：</span>
                    <input type="text" placeholder="" name="area" class="c-area">
                </section>
                <section class="subBtn">
                    <button class="submit btn top_btn">立即领取</button>
                </section>
                <p class="promise">我们承诺您的信息将严格保密请放心填写</p>
            </form>
        </section>
    </section>
    <!--品牌介绍-->
    <section class="brand pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <dl>
            <dt class="brand_img">
                <img src="http://img.cdn.mofashuxue.com/pic_logo%402x.png?imageslim">
            </dt>
            <dd class="brand_desc">
                易乐教育科技集团于2014年依据哈佛教育研究学院、康奈尔大学教育理论，联合《走遍美国》《BBC英语》等优质英语教育资源，参照美国幼儿教育协会NAEYC教育标准，自主研发了全体系、创新型AI智能英语课程体系，推出了“布罗卡斯智能英语”品牌。并于2018年联合美国、台湾技术团队及《英语周报》语言专家打造了“BROCA智能学”在线英语AI学练系统。
            </dd>
        </dl>
    </section>
    <!--成果-->
    <section class="sync_america pub">
        <img src="http://img.cdn.brocaedu.com/pic_shierwu%402x.png" class="lazy" style="">
    </section>

    <!--多维情景教学模式-->
    <section class="teaching pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                多维情景教学模式
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="teaching_l">
            <img  src="http://img.mofashuxue.com/pic_scene.png?imageslim" class="lazy" style="">
        </section>
        <section class="teaching_r">
            <li>
                <p>中外教互动课堂</p>
                <span>Interactive Class</span>
            </li>
            <li>
                <p>人机双师互教</p>
                <span>Teacher & Online</span>
            </li>
            <li>
                <p>AI学习系统</p>
                <span>AI Learning System</span>
            </li>
            <li>
                <p>多维度题库练习</p>
                <span>Online Practice Bank</span>
            </li>
            <li>
                <p class="am">美国分级阅读RAZ外教直播课</p>
                <span>Reading A to Z Class</span>
            </li>
            <li>
                <p>全情景智能点读</p>
                <span>Touch & Talk</span>
            </li>
        </section>
    </section>
    <!--BROCA强大的线上系统-->
    <section class="pub strong">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="systemList">
            <dl>
                <dt>移动端小程序</dt>
                <dd>
                    <img data-original="http://img.cdn.mofashuxue.com/pic_app%402x.png" src="http://img.cdn.mofashuxue.com/pic_app%402x.png" class="lazy" style="">
                </dd>
            </dl>
            <dl class="mid">
                <dt></dt>
                <dd>
                    <img  src="/static/wap/img/mid.png" class="lazy" style="">
                </dd>
            </dl>
            <dl>
                <dt>BROCA智能学练系统</dt>
                <dd>
                    <img src="http://img.cdn.mofashuxue.com/pic_ai%402x.png" class="lazy" style="">
                </dd>
            </dl>
        </section>
        <section class="pic_app_ai">
            <img src="http://img.cdn.mofashuxue.com/pic_app%2Bai%402x.png" src="" class="lazy">
        </section>
    </section>
    <!--BROCA课程体系-->
    <section class="subject pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="child">幼儿段 For Kids</h3>
        <ul class="nect">
            <li>
                <h3>NCET</h3>
                <p>青少儿英语能力展示活动</p>
            </li>
            <li>
                <h3>CES</h3>
                <p>中国英语能力等级量表</p>
            </li>
            <li>
                <h3>CEFR</h3>
                <p>欧洲共同语言参考标准</p>
            </li>
        </ul>
        <ul class="three">
            <li>-</li>
            <li>-</li>
            <li>-</li>
            <li>
                <span>词汇量：300+，通过游戏方式参与到英语活动中来，激发学习兴趣。</span>
            </li>
        </ul>
        <ul class="one K1">
            <li class="k1">k1</li>
            <li class="k1">-</li>
            <li class="k1">-</li>
            <li>
                <span>词汇量：600+，注重交流能力和礼仪的培养，在引导下根据图片用英文描述场景，表达自己的喜好、情绪。</span>
            </li>
        </ul>
        <ul class="oneT">
            <li class="k1">k2</li>
            <li class="k1">L1</li>
            <li class="k1">A1</li>
            <li>
                <span>词汇量：1000+，能用英文简单复述故事情节，进行简单的英文戏剧表演，综合发展阅读能力，逐步养成学习英文的好习惯。</span>
            </li>
        </ul>

        <h3 class="child pupil childes">少儿段 For Pupils</h3>
    </section>
    <section class="pupiles pub child_li">
        <ul class="nect">
            <li>
                <h3>NCET</h3>
                <p>青少儿英语能力展示活动</p>
            </li>
            <li>
                <h3>CES</h3>
                <p>中国英语能力等级量表</p>
            </li>
            <li>
                <h3>CEFR</h3>
                <p>欧洲共同语言参考标准</p>
            </li>
        </ul>
        <ul class="three">
            <li class="k1">-</li>
            <li>-</li>
            <li>-</li>
            <li>
                <span>词汇量：550，掌握96组自然拼音组合，见词读音，听音写词，从幼儿学习模式逐步过渡到少儿学习模式。</span>
            </li>
        </ul>
        <ul class="one">
            <li class="k1">L1/L2</li>
            <li>-</li>
            <li>-</li>
            <li>
                <span>词汇量：800+，听、说、读、写能力全面发展，能按指定话题开展简单的讨论与交流，适应AI互动模式。</span>
            </li>
        </ul>
        <ul class="oneT">
            <li class="k1">L3/L4</li>
            <li class="k1">L2</li>
            <li class="k1">-</li>
            <li>
                <span>词汇量：1200+，建立学习英语的主动性和成就感，养成按意群阅读的习惯，有意愿主动展现自己的英文能力，应试能力大幅度提高。</span>
            </li>
        </ul>
        <ul class="oneT oneTT">
            <li class="k1">L5/L6</li>
            <li class="k1">L3</li>
            <li class="k1">A2</li>
            <li>
                <span>词汇量：1600+，能听懂相关话题并讨论，能读懂相应水平的读物，使用英文工具探索新的知识领域，能通过书写作文表达个人观点，理解中外文化差异。</span>
            </li>
        </ul>
    </section>
    <!--学习场景-->
    <section class="pub mobile_learn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <p class="mobile_learn_logo">
            <img src="http://img.mofashuxue.com/mobile_ico_toddler.png">
        </p>
        <section class="mobile_learn_con">
            <img src="http://img.mofashuxue.com/mobile_pic_toddler1.png">
            <img src="http://img.mofashuxue.com/mobile.png">
        </section>
        <p class="mobile_learn_logo">
            <img src="http://img.mofashuxue.com/mobile_ico_children.png">
        </p>
        <section class="mobile_learn_con">
            <img src="http://img.mofashuxue.com/mobile_pic_children.png">
            <img src="http://img.mofashuxue.com/mobile_children.png">
        </section>
    </section>
    <!--BROCA英语六大优势-->
    <section class="pub mobile_six">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="mobile_six_list">
            <dl>
                <dt><img src="/static/wap/img/mobile_ico_team.png">精英团队</dt>
                <dd>由《走遍美国》《BBC英语》《波波嘟的一天》的梦工厂制作团队创办</dd>
            </dl>
            <dl>
                <dt><img src="/static/wap/img/mobile_ico_standard.png">国际标准</dt>
                <dd>参照美国幼教协会NAEYC课程标准，获得国际、国内多项科研成果及权威认证奖项</dd>
            </dl>
        </section>
        <dl class="mobile_six_mid">
            <dt><img src="/static/wap/img/mobile_ico_ai.png">智能系统</dt>
            <dd>自主研发“BROCA智能学”系统，拥有软著权、核心技术，以及独家英语题库资源</dd>
        </dl>
        <section class="mobile_six_list">
            <dl>
                <dt><img src="/static/wap/img/mobile_ico_market.png">市场独家</dt>
                <dd>自主研发全体系教材及教具，拥有独立知识产权，严控渠道，确保唯一性</dd>
            </dl>
            <dl>
                <dt><img src="/static/wap/img/mobile_ico_authority.png">权威认可</dt>
                <dd>被授予“中国外语教育研究中心战略合作及中小学英语教育实验基地”</dd>
            </dl>
        </section>
    </section>
    <section class="mobile_six_list_last pub">
        <section class="mobile_six_list_last_con">
            <dl>
                <dt><img src="/static/wap/img/mobile_ico_market.png">优质资源</dt>
                <dd>中国外语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位</dd>
            </dl>
        </section>
    </section>
    <!--BROCA强大的线上系统-->
    <section class="pub english">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="english_con">
            <img src="http://img.cdn.mofashuxue.com/pic_vs%402x.png">
        </section>
    </section>
    <!--middle banner-->
    <section class="pub childres">
        <img  src="http://img.mofashuxue.com/bg_red2.png?imageslim">
    </section>
    <!--贯穿全程的六大支持团队-->
    <section class="pub pic_reason">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                贯穿全程的六大支持团队
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_reason_con">
            <section class="pic_reason_con_list">
                <dl>
                    <dt>
                        <img data-original="http://img.cdn.mofashuxue.com/pic_reason1%402x.png" src="http://img.cdn.mofashuxue.com/pic_reason1%402x.png" class="lazy" style="">
                    </dt>
                    <dd>
                        <h6>研发团队</h6>
                        <p>提供同步美国幼教课程及相关课件</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img data-original="http://img.cdn.mofashuxue.com/pic_reason2@2x.png" src="http://img.cdn.mofashuxue.com/pic_reason2@2x.png" class="lazy" style="">
                    </dt>
                    <dd>
                        <h6>营建团队</h6>
                        <p>提供完善的空间规划设计及筹建指导</p>
                    </dd>
                </dl>
            </section>
            <section class="pic_reason_con_list">
                <dl>
                    <dt>
                        <img data-original="http://img.mofashuxue.com/pic_reason3.png?imageslim" src="http://img.mofashuxue.com/pic_reason3.png?imageslim" class="lazy" style="">
                    </dt>
                    <dd>
                        <h6>市场团队</h6>
                        <p>提供精准的市场分析及营销市场方案</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason4@2x.png" class="lazy">
                    </dt>
                    <dd>
                        <h6>营运团队</h6>
                        <p>提供管理运营及教学教研指导</p>
                    </dd>
                </dl>
            </section>
            <section class="pic_reason_con_list">

                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason5@2x.png" class="lazy">
                    </dt>
                    <dd>
                        <h6>培训团队</h6>
                        <p>提供优质的开业前和各阶段在职培训</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason6@2x.png" class="lazy">
                    </dt>
                    <dd>
                        <h6>技术团队</h6>
                        <p>提供AI人机互教与课后APP 智能软件</p>
                    </dd>
                </dl></section>
        </section>
    </section>

    <!--教材展示-->
    <section class="pub show">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                教材展示
                <span class="tit_icon"></span>
            </h3>
        </section>
    </section>
    <section class="pub pic_textbook">
        <img  src="http://img.cdn.mofashuxue.com/pic_textbook@2x.png?imageslim" class="lazy" style="">
    </section>
    <!--品牌荣誉-->
    <section class="pub ppry">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌荣誉
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_ul">
            <section class="pc-banner">
                <div class="swiper-container_bottom">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="http://img.cdn.mofashuxue.com/pic_medal1@2x.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.cdn.mofashuxue.com/pic_medal2@2x.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.cdn.mofashuxue.com/pic_medal3@2x.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal4.png?imageslim"></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal5.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal6.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal7.png?imageslim" ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal8.png?imageslim"  ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal9.png?imageslim"  ></div>
                        <div class="swiper-slide"><img src="http://img.mofashuxue.com/pic_medal10.png?imageslim" ></div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    {{template "wap_footer"}}
    <script>
        var swiper = new Swiper('.swiper-container_bottom',{
            autoplay:true,
            speed:1000,
            autoplayDisableOnInteraction : false,
            loop:true,
            centeredSlides : true,
            slidesPerView:2,
            pagination : '.swiper-pagination',
            paginationClickable:true,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
            onInit:function(swiper){
                swiper.slides[2].className="swiper-slide swiper-slide-active";//第一次打开不要动画
            },
            breakpoints: {
                668: {
                    slidesPerView: 1,
                }
            }
        });


        $('.c-top_com').val(window.location.href);

        $('.top_btn').on('click',function () {
            if ($('#topmyfrom .c-name').val()=="") {
                alert('姓名不能为空');
                return false;
            }
            if ($('#topmyfrom .c-tel').val()=="") {
                alert('电话不能为空');
                return false;
            }
            if ($('#topmyfrom .c-tel').val().length < 11) {
                alert('手机号码格式不正确');
                return false;
            }
            if ($('#topmyfrom .c-area').val()=="") {
                alert('地区不能为空');
                return false;
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/AddMessage",
                data:$('#topmyfrom').serialize(),
                success: function (result) {
                    alert(result.msg);
                    return false
                }
            })
            return false;
        })
    </script>
{{end}}