{{define "wap/map.html"}}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <title>地图</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ETLXgCxIoVixggHcAk6mKpMd"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/css.css">
    </head>

    <body>
    <div class="nav">
        <img src="/static/assets/img/left.png" class="left">
        <p class="searchTit">地图找房</p>
        <img src="/static/assets/img/circle.png">
    </div>
    <div id="allMap">
    </div>
    <button class="drawing" id="draw">画圈找房</button>
    <div class="houseList">
        <p class="bottom close"><img src="/static/assets/img/bottom.png"></p>
        <div class="header_con">
            <h3 class="smallTit"></h3>
            <p class="small_tag"></p>
        </div>
        <div class="house_con">
        </div>
    </div>
    <script type="application/javascript">
        $('.close').on('click',function(){
            $('.houseList').css("display","none");
        });
        var map = null;
        var houseList = [];
        var plyAll = {};

        var thirdlyMkr = [];

        var area = {
            "东城区":{
                "lat":"39.93482727239599",
                "lng":"116.4224009776628",
            },
            "西城区":{
                "lat":"39.91812360584148",
                "lng":"116.37251358116619",
            },
            "朝阳区":{
                "lat":"39.926374523079886",
                "lng":"116.44955872950158",
            },
            "丰台区":{
                "lat":"39.8649371975573",
                "lng":"116.29240188731139",
            },
            "石景山区":{
                "lat":"39.911353808778294",
                "lng":"116.22961266775826",
            },
            "海淀区":{
                "lat":"39.96548984110075",
                "lng":"116.3054340544974",
            },
            "房山区":{
                "lat":"39.75432583977336",
                "lng":"116.14944375184247",
            },
            "通州区":{
                "lat":"39.916017122432365",
                "lng":"116.66341535785384",
            },
            "顺义区":{
                "lat":"40.13635076223076",
                "lng":"116.66142426369096",
            },
            "昌平区":{
                "lat":"40.22641337159427",
                "lng":"116.23761791731043",
            },
            "大兴区":{
                "lat":"39.73255523655448",
                "lng":"116.348625212231",
            },
            "平谷区":{
                "lat":"40.146950735799116",
                "lng":"117.12737910459967",
            },
            "密云区":{
                "lat":"40.38217565813752",
                "lng":"116.84954704426833",
            },
            "延庆区":{
                "lat":"40.46216897375426",
                "lng":"115.98163156901515",
            },
            "门头沟区":{
                "lat":"39.94614672003409",
                "lng":"116.10760355576534",
            }
        }
        initMap()
        //初次加载地图，获取当前城市，各大版块的总数据
        getRes();
        function getRes(lng= "",lat="",hierarchy="",isShow=true) {
            let _url = "https://www.fangpaiwang.com/api/second/areaHouse";
            if ( lng !="" ) {
                _url += "?lng="+ lng+"&lat="+lat
            }
            if ( hierarchy !="" ) {
                _url += "&hierarchy="+ hierarchy
            }
            $.get(_url,function(res) {
                if (hierarchy==3) {
                    addLable(res.data,isShow)
                } else {
                    if (hierarchy==2) {
                        addMarker(res.data.street, isShow);
                    } else {
                        addMarker(res.data, isShow);
                    }
                }
            });
        }

        var isInDrawing = false;

        var isMouseDown = false;

        var polyPointArray = [];

        var lastPolyLine = null;

        var polygonAfterDraw = null;
        var drawBtn = document.getElementById("draw");
        var exitBtn = document.getElementById("exit");
        // 初始化画圈找房
        drawing();

        function initMap() {
            map = new BMap.Map("allMap", {
                enableMapClick: false,
                minZoom: 12
            });
            map.centerAndZoom(new BMap.Point(116.403694, 39.916042), 11);
            map.enableScrollWheelZoom(true);

            map.addEventListener("zoomend", function() {
                var zoomLevel = map.getZoom();
                if(zoomLevel <= 13) {
                    getRes();
                }
                // } else if(zoomLevel > 13 && zoomLevel <= 15) {
                //     // 此处需要点击获取当前区域的经纬度
                //     getRes(map.dc.lng,map.dc.lat,2, false);
                // } else if(zoomLevel > 15) {
                //     getRes(map.dc.lng,map.dc.lat,3, false);
                //     // addLable(thirdlyData)
                // }
            });


            // map.addEventListener("moveend", function() {
            //     var zoomLevel = map.getZoom();
            //     if(zoomLevel > 15) {
            //         getRes(map.dc.lng,map.dc.lat,3, false);
            //     }
            // });
        }

        function drawing() {
            drawBtn.addEventListener('click', function(e) {
                var zoomLevel = map.getZoom();
                if(zoomLevel <= 13) {
                    alert("请放大地图后使用画圈找房");
                    return;
                }
                $("#draw").css("display","none");
                $("#exit").css("display","block");
                // 禁止地图移动点击等操作
                map.clearOverlays()
                map.disableDragging();
                map.disableScrollWheelZoom();
                map.disableDoubleClickZoom();
                map.disableKeyboard();
                // 设置鼠标样式
                map.setDefaultCursor('crosshair');
                // 设置标志位进入画圈状态
                isInDrawing = true;
            });

            // 退出画圈找房
            exitBtn.addEventListener('click', function(e) {
                // 恢复地图移动点击等操作
                map.enableDragging();
                map.enableScrollWheelZoom();
                map.enableDoubleClickZoom();
                map.enableKeyboard();
                map.setDefaultCursor('default');
                $("#draw").css("display","block");
                $("#exit").css("display","none");
                if (map.getZoom()==16) {
                    getRes(map.dc.lng,map.dc.lat,3,"false")
                } else {
                    getRes(116.44955872950158,39.926374523079886,2,"false")
                }
                // 设置标志位退出画圈状态
                isInDrawing = false;
            })

            map.addEventListener('touchstart', function(e) {
                if(isInDrawing) {
                    map.removeOverlay(polygonAfterDraw);
                    map.removeOverlay(lastPolyLine);
                    polyPointArray = [];
                    lastPolyLine = null;
                    isMouseDown = true;
                }
            });

            map.addEventListener('touchend', function(e) {

                if(isInDrawing && isMouseDown) {

                    isMouseDown = false;

                    var polygon = new window.BMap.Polygon(polyPointArray, {
                        strokeColor: '#46ACFF',
                        strokeOpacity: 1,
                        fillColor: '#46ACFF',
                        fillOpacity: 0.3,
                        enableClicking: false
                    });
                    map.addOverlay(polygon);

                    show(polygon);
                }
            });

            map.addEventListener('touchmove', function(e) {

                if(isMouseDown) {

                    polyPointArray.push(e.point);

                    if(lastPolyLine) {
                        map.removeOverlay(lastPolyLine)
                    }

                    var polylineOverlay = new window.BMap.Polyline(polyPointArray, {
                        strokeColor: '#46ACFF',
                        strokeOpacity: 1,
                        enableClicking: false
                    });

                    map.addOverlay(polylineOverlay);

                    lastPolyLine = polylineOverlay
                }
            })
        }

        function show(polygon) {

            var pointArray = polygon.getPath();

            var bound = polygon.getBounds();

            var pointInPolygonArray = [];

            for(var i = 0; i < thirdlyMkr.length; i++) {

                var markerPoint = thirdlyMkr[i].getPosition();
                if(isPointInPolygon(markerPoint, bound, pointArray)) {
                    map.addOverlay(thirdlyMkr[i])
                }
            }
        }

        // 绘画行政边界
        function addMarker(data, flag) {
            map.clearOverlays();
            $.each(data, function(index, data) {
                if(flag) {
                    // 绘画行政边界
                    getBoundary(data.name)
                }
                var point = new BMap.Point(data.lng, data.lat);
                var areaId = data.id;
                var tpl = '<div class="bubble bubble-1" data-longitude="' + data.lng + '"' +
                    ' data-latitude="' + data.lat + '">' +
                    '<p class="name" title="' + data.name + '">' + data.name + '</p>' +
                    '<p class="price" title="' + data.price + '">' + data.price + '\/㎡</p>' +
                    '<p class="count"><span>' + data.num + '</span>套</p>' +
                    '</div>';
                var myLabel = new BMap.Label(tpl, {
                    position: point,
                    offset: new BMap.Size(-42, -42)
                });
                myLabel.setStyle({
                    width: "100px",
                    height: "100px",
                    border: "0",
                    borderRadius: "100px",
                    background: "#D75853",
                    opacity: 0.9,
                    cursor: "pointer",
                    zIndex: 2
                });
                myLabel.setTitle(data.name);
                map.addOverlay(myLabel);

                myLabel.addEventListener("mouseover", function() {
                    myLabel.setStyle({
                        background: "#D75853",
                        zIndex: 4
                    });
                    if(flag) {
                        var regionName = myLabel.getTitle();
                        plyAll[regionName].show();
                    }
                });

                myLabel.addEventListener("mouseout", function() {
                    myLabel.setStyle({
                        background: "#D75853",
                        zIndex: 2
                    });
                    if(flag) {
                        var regionName = myLabel.getTitle();
                        plyAll[regionName].hide();
                    }
                });
                myLabel.addEventListener("click", function() {
                    let point = myLabel.getPosition()
                    if(flag) {
                        $('.small_tag').empty().html(small_tag = myLabel.getTitle()+' | 均价'+data.price+'/㎡')
                        getRes(point.lng,point.lat,2,false);
                        map.centerAndZoom(point, 14);
                    } else {
                        getRes(point.lng,point.lat,3,false);
                        map.centerAndZoom(point, 16);
                    }
                });

            })
        }

        //标注到小区
        function addLable(data) {
            map.clearOverlays();
            if(thirdlyMkr.length <= 0) {
                $.each(data, function(index, data) {
                    var point = new BMap.Point(data.lng, data.lat,data.title);
                    var tpl = '<div class=" bubble-1 ZLQbubble" data-longitude="' + data.lng + '"' +
                        ' data-latitude="' + data.lat + '">' +
                        '<span class="name" title="' + data.title + '">' + data.title + '</span>&nbsp&nbsp' +
                        '<span class="count"><span>' + data.house_num + '</span>套</span>' +
                        '</div>';
                    var myLabel = new BMap.Label(tpl, {
                        position: point,
                        offset: new BMap.Size(-42, -42)
                    });
                    myLabel.setStyle({
                        height: "22px",
                        lineHeight: "22px",
                        border: "0",
                        borderRadius: "20px",
                        background: "#D75853",
                        opacity: 0.9,
                        cursor: "pointer",
                        zIndex: 2
                    });
                    myLabel.setTitle(data.title);
                    thirdlyMkr.push(myLabel);
                    myLabel.addEventListener("mouseover", function() {
                        myLabel.setStyle({
                            background: "#D75853",
                            zIndex: 4
                        });
                    });
                    myLabel.addEventListener("mouseout", function() {
                        myLabel.setStyle({
                            background: "#D75853",
                            zIndex: 2
                        });
                    });
                    myLabel.addEventListener("click", function() {
                        getSingle(data.id,myLabel.getTitle())
                    });
                })
            }
            addViewLabel(thirdlyMkr)
        }

        // 房源列表
        function getSingle(estate_id,tit) {
            let house = "";
            $('.smallTit').empty().html(tit)
            let _url = "https://www.fangpaiwang.com/api/second/houseList?a=h169h170&estate_id="+estate_id;
            $.get(_url,function(res) {
                if (res.data.lists.data.length > 0 ) {
                    let _clName = "";
                    $.each(res.data.lists.data,function (k,v) {
                        house+='<a><dl class="houseItemView"><dt class="houseItemImg"><img class="thumb_img" src="https://www.fangpaiwang.com'+v.img+'">'
                        house+='<ul class="tag">'
                        if (Number(v.house_type) != 48) {
                            house+='<li>'+v.jieduan_name+'</li>'
                        }
                        if (v.is_free !="") {
                            house += '<li class="tag_label_2">'+v.自由购+'</li>'
                        }
                        if (Number(v.house_type) ==48) {
                            house += '<li class="tag_label_2">'+v.社会委托+'</li>'
                        }

                        if (isEmpty(v.characteristic_name,v.characteristic_name,v.characteristic_name)!=true) {
                            house += '<li class="tag_label_1">'+v.characteristic_name+'</li>'
                        }
                        switch (Number(v.fcstatus)) {
                            case 169:
                                _clName = "house_status_red";
                                break;
                            case 170:
                                _clName = "house_status_blue";
                                break;
                            default:
                                _clName = "house_status_ash";
                                break;
                        }
                        house+='<p class="house_status"><span class='+_clName+'>'+v.fcstatus_name+'</span></p>'
                        house+='</dt><dd class="houseItem"><h3 class="itemTitle">'+v.title+'</h3>'
                        house+='<p class="itemInfo">'+v.room+'室'+v.living_room+'厅 | '+v.acreage+'㎡ | '+v.orientations_name+' | '+v.types_name+'</p>'
                        house+='<ul class="itemPrice">'
                        if (Number(v.fcstatus)==175){
                            house+='<li>成交价<span class="redPrice">'+v.cjprice+'</span></li>'
                        } else {
                            house+='<li>起拍价<span class="redPrice">'+v.qipai+'</span></li>'
                        }
                        house+='<li>市场价<span class="grayPrice">'+v.price+'</span></li>'
                        house+='</ul><p class="createIime">开拍时间：'+v.kptime.trim()+'</p>'
                    })
                    $('.house_con').empty().append(house);
                    $('.houseList').css("display","block");
                }
                // addLable(res.data,isShow)
            });
        }

        function isEmpty(va,v2,v3) {
            if (va == null || v2 == "" || v3 == undefined) {
                return true;
            }
            return false;
        }
        function getBoundary(regionName) {
            var ply = new BMap.Polygon(area[regionName], {
                strokeWeight: 1,
                strokeColor: "#0A77FB",
                fillColor: "#7EB8FC"
            });
            ply.hide();
            plyAll[regionName] = ply
            map.addOverlay(ply);

        }

        function addViewLabel(mkr) {
            map.clearOverlays();
            for(var i = 0; i < mkr.length; i++) {
                var result = isPointInRect(mkr[i].point, map.getBounds());
                if(result == true) {
                    map.addOverlay(mkr[i])
                } else {
                    map.removeOverlay(mkr[i]);
                }
            }
        }

        function isPointInRect(point, bounds) {

            if(!(point instanceof BMap.Point) ||
                !(bounds instanceof BMap.Bounds)) {
                return false;
            }
            var sw = bounds.getSouthWest();
            var ne = bounds.getNorthEast();
            return(point.lng >= sw.lng && point.lng <= ne.lng && point.lat >= sw.lat && point.lat <= ne.lat);
        }

        function isPointInPolygon(point, bound, pointArray) {

            if(!bound.containsPoint(point)) {
                return false;
            }


            var crossPointNum = 0;
            for(var i = 0; i < pointArray.length; i++) {

                var p1 = pointArray[i];
                var p2 = pointArray[(i + 1) % pointArray.length];

                if((p1.lng === point.lng && p1.lat === point.lat) || (p2.lng === point.lng && p2.lat === point.lat)) {
                    return true
                }

                if(point.lat < Math.min(p1.lat, p2.lat)) {
                    continue;
                }

                if(point.lat >= Math.max(p1.lat, p2.lat)) {
                    continue;
                }


                var crossPointLng;
                if(p1.lng === p2.lng) {
                    crossPointLng = p1.lng;
                } else {

                    var k = (p2.lat - p1.lat) / (p2.lng - p1.lng);

                    crossPointLng = (point.lat - p1.lat) / k + p1.lng;
                }

                if(crossPointLng > point.lng) {
                    crossPointNum++;
                }

            }
            return crossPointNum % 2 === 1
        }
    </script>
    </body>
    </html>
{{end}}