{{define "wap/map.html"}}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <title>地图</title>
        <!-- 视图窗口，移动端特属的标签。 -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 忽略页面中的数字识别为电话号码,email识别 -->
        <meta name="format-detection"content="telephone=no, email=no" />
        <!-- 启用360浏览器的极速模式(webkit) -->
        <meta name="renderer" content="webkit">
        <!-- 避免IE使用兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
        <meta name="HandheldFriendly" content="true">
        <!-- 微软的老式浏览器 -->
        <meta name="MobileOptimized" content="320">
        <!-- uc强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- QQ强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!-- UC强制全屏 -->
        <meta name="full-screen" content="yes">
        <!-- QQ强制全屏 -->
        <meta name="x5-fullscreen" content="true">
        <!-- UC应用模式 -->
        <meta name="browsermode" content="application">
        <!-- QQ应用模式 -->
        <meta name="x5-page-mode" content="app">
        <!-- windows phone 点击无高光 -->
        <meta name="msapplication-tap-highlight" content="no">
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ETLXgCxIoVixggHcAk6mKpMd"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/map.js"></script>
        <link rel="stylesheet" href="/static/assets/css/css.css">
    </head>

    <body>
    <div class="nav">
        <img src="/static/assets/img/left.png" class="left">
        <p class="searchTit">地图找房</p>
        <img src="/static/assets/img/circle.png">
    </div>
    <div id="allMap">
    </div>
    <button class="drawing" id="draw">画圈找房</button>
    <button class="exit" id="exit">退出画圈</button>
    <div class="houseList">
        <p class="bottom close"><img src="/static/assets/img/bottom.png"></p>
        <div class="header_con">
            <h3 class="smallTit"></h3>
            <p class="small_tag"></p>
        </div>
        <div class="house_con">
        </div>
    </div>
    </body>
    </html>
{{end}}