{{define "wap/map.html"}}
    <!DOCTYPE html>
    <html>

    <head>
        <title>地图</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- 视图窗口，移动端特属的标签。 -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- 忽略页面中的数字识别为电话号码,email识别 -->
        <meta name="format-detection"content="telephone=no, email=no" />
        <!-- 启用360浏览器的极速模式(webkit) -->
        <meta name="renderer" content="webkit">
        <!-- 避免IE使用兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
        <meta name="HandheldFriendly" content="true">
        <!-- 微软的老式浏览器 -->
        <meta name="MobileOptimized" content="320">
        <!-- uc强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- QQ强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!-- UC强制全屏 -->
        <meta name="full-screen" content="yes">
        <!-- QQ强制全屏 -->
        <meta name="x5-fullscreen" content="true">
        <!-- UC应用模式 -->
        <meta name="browsermode" content="application">
        <!-- QQ应用模式 -->
        <meta name="x5-page-mode" content="app">
        <!-- windows phone 点击无高光 -->
        <meta name="msapplication-tap-highlight" content="no">
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ETLXgCxIoVixggHcAk6mKpMd"></script>
        <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/assets/js/layer.js"></script>
        <script type="text/javascript" src="/static/assets/js/map.js"></script>

        <link rel="stylesheet" href="/static/assets/css/css.css">
        <script type="text/javascript">
            var userAgent = navigator.userAgent;
            if (userAgent.indexOf('AlipayClient') > -1) {
                // 支付宝小程序的 JS-SDK 防止 404 需要动态加载，如果不需要兼容支付宝小程序，则无需引用此 JS 文件。
                document.writeln('<script src="https://appx/web-view.min.js"' + '>' + '<' + '/' + 'script>');
            } else if (/QQ/i.test(userAgent) && /miniProgram/i.test(userAgent)) {
                // QQ 小程序
                document.write('<script type="text/javascript" src="https://qqq.gtimg.cn/miniprogram/webview_jssdk/qqjssdk-1.0.0.js"><\/script>');
            } else if (/miniProgram/i.test(userAgent) || /MicroMessenger/i.test(userAgent)) {
                // 微信小程序 JS-SDK 如果不需要兼容微信小程序，则无需引用此 JS 文件。
                document.write('<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"><\/script>');
            } else if (/toutiaomicroapp/i.test(userAgent)) {
                // 字节跳动小程序 JS-SDK 如果不需要兼容字节跳动小程序，则无需引用此 JS 文件。
                document.write('<script type="text/javascript" src="https://s3.pstatp.com/toutiao/tmajssdk/jssdk-1.0.1.js"><\/script>');
            } else if (/swan/i.test(userAgent)) {
                // 百度小程序 JS-SDK 如果不需要兼容百度小程序，则无需引用此 JS 文件。
                document.write('<script type="text/javascript" src="https://b.bdstatic.com/searchbox/icms/searchbox/js/swan-2.0.18.js"><\/script>');
            }
            if (!/toutiaomicroapp/i.test(userAgent)) {
                document.querySelector('.post-message-section').style.visibility = 'visible';
            }
        </script>
        <!-- uni 的 SDK -->
        <script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.2.js"></script>
    </head>

    <body>
    <div class="nav">
        <img src="/static/assets/img/left.png" class="turnBack">
        <p class="searchTit">地图找房</p>
        <img src="/static/assets/img/circle.png" class="search">
    </div>
    <div id="allMap">
    </div>
    <button class="drawing" id="draw">画圈找房</button>
    <div class="houseList">
        <p class="bottom close"><img src="/static/assets/img/bottom.png"></p>
        <div class="header_con">
                <h3 class="smallTit"></h3>
                <p class="small_tag"></p>
        </div>
        <div class="house_con">
        </div>
    </div>
    <div class="header-wrap">
        <input placeholder="输入小区名称" class="searchInput">
        <img src="/static/assets/img/close.png" class="closeSearch">
        <button class="searchBtn">搜索</button>
    </div>
    <div class="search_list">
    </div>
    <script type="application/javascript">
        document.addEventListener('UniAppJSBridgeReady', function() {
            //向uniapp传值
            uni.postMessage({
                data: {
                    action: "init-message"
                }
            });
            uni.getEnv(function(res) {
                console.log('当前环境：' + JSON.stringify(res));
            });
        });
        $('.turnBack').on('click',function () {
            uni.postMessage({
                data: {
                    action: {"back":"shouye"}
                }
            });
        })
        $('body').on('click','.house_con a',function () {
            uni.postMessage({
                data: {
                    action: {"house":$(this).data("id")}
                }
            });
        })
        $('.header_con').on('click',function () {
            uni.postMessage({
                data: {
                    action: {"xiaoqu":$(this).data("id")}
                }
            });
        })
    </script>
    </body>
    </html>
{{end}}