{{define "wap_nav"}}
    <nav>
        <section class="nav_head">
            <p class="head_logo">
                <img src="/static/wap/img/nav_logo.png" />
                <span class="slogan">学习因科技而高效</span>
            </p>
            <section class="home_icon">
                <img src="/static/wap/img/home_icon_breadnav_nor.png" class="navicon"/>
            </section>
            <ul class="home_nav">
                <a href="/wap">首页</a>
                <a href="/sub">课程体系</a>
                <a href="/le" >教学教研</a>
                <a href="/ai" >AI智学系统</a>
                <a href="/cam">全国中心</a>
                <a href="/authorize">招商加盟</a>
                <a href="/list">新闻资讯</a>
            </ul>
        </section>
    </nav>
{{end}}