{{define "wap/new.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>新闻资讯</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/wap/css/wap_news.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- 顶部轮播图 -->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ range .data.banner}}
                    <div class="swiper-slide">
                        <img src="{{.Imgurl}}" alt="">
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <section class="new_ul">
    {{ range .data.list}}
        <a href="/de?id={{.ID}}">
            <dl>
                <dt><img src="{{.ThumbImg}}"></dt>
                <dd>
                    <section class="new_right">
                        <h3>{{.Title}}</h3>
                        <span class="read">{{.CreatedAt | subTime}}</span>
                     </section>
                </dd>
            </dl>
        </a>
    {{end}}
    </section>
    <input type="hidden" value="{{.data.count}}" id="countNum">
    <!--分页-->
    <section style="margin: 0 auto">
        <input type="hidden" id="PageCount" value="0">
        <div id="example" style="text-align: center"> <ul id="pageLimit"></ul>
        </div>
    </section>
    {{template "wap_footer"}}
    <script src="/static/js/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="/static/wap/js/new.js"></script>
{{end}}