{{define "wap/subject.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>课程体系</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/wap_sub.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- 顶部轮播图 -->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ range .data.banner}}
                    <div class="swiper-slide">
                        <img src="{{.Imgurl}}" alt="">
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <!--10万+学员家长 选择布罗卡斯智能英语的理由 -->
    <section class="wan_warp pub">
        <h3>10万+学员家长<br>选择布罗卡斯智能英语的理由</h3>
        <section class="wan_con">
            <section class="cwl">
                <section class="cwc">
                    <h4 class="smallTit">布罗卡斯英语</h4>
                    <p class="smallSlogan">Broca English Course</p>
                    <ul>
                        <li>AI智学系统跟进每个孩子学习成果及习惯，因材施教</li>
                        <li>结合实体课堂人机双师互教，直接提分快速有效</li>
                        <li>知识点螺旋重叠式递增，注重交流，阅读和运用</li>
                        <li>电子课件涵盖1000+专属儿童英文游戏</li>
                        <li>AI小程序植入真人外教辅助复习</li>
                        <li>AI小程序激励系统锻炼孩子项目管理能力</li>
                    </ul>
                </section>
            </section>
            <section class="cwm"></section>
            <section class="cwr">
                <section class="cwc">
                    <h4 class="smallTit">其他英语课程</h4>
                    <p class="smallSlogan">Other English Course</p>
                    <ul>
                        <li>没有AI系统</li>
                        <li>只有老师实体教授，没有人机互动</li>
                        <li>单纯模块化教学内容，抽象不易理解</li>
                        <li>课件只是简单的动画、图片或PPT无法实现互动</li>
                        <li>小程序或APP真人外教视频不多</li>
                        <li>小程序或APP内容单一</li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
    <!--布罗卡斯课程理念 -->
    <section class="pub brocae_idea">
        <h3>布罗卡斯课程理念</h3>
        <dl>
            <dt class="brocae_idea_tit">
                <h4>Happy</h4>
                <ul>
                    <li>充满趣味性的产品设计</li>
                    <li>以孩子的兴趣作为出发点</li>
                    <li>点燃孩子的学习内驱力</li>
                </ul>
            </dt>
            <dd class="brocae_idea_img">
                <img src="/static/wap/img/subject_pic_idea1.png">
            </dd>
        </dl>
        <dl>
            <dd class="brocae_idea_img">
                <img src="/static/wap/img/subject_pic_idea2.png">
            </dd>
            <dt class="brocae_idea_tit">
                <h4>Learning</h4>
                <ul>
                    <li>以母语习得的方式</li>
                    <li>在无压力环境下</li>
                    <li>自然提高英语能力</li>
                </ul>
            </dt>
        </dl>
        <dl class="three">
            <dt class="brocae_idea_tit">
                <h4>Artificial Intellige</h4>
                <ul>
                    <li>AI人工智能练习系统+大数据分析报告，</li>
                    <li>关注每一位孩子独特的成长足迹，</li>
                    <li>让每一名孩子成长为更好的自己</li>
                </ul>
            </dt>
            <dd class="brocae_idea_img">
                <img src="/static/wap/img/subject_pic_idea3.png">
            </dd>
        </dl>
        <dl>
            <dd class="brocae_idea_img">
                <img src="/static/wap/img/subject_pic_idea4.png">
            </dd>
            <dt class="brocae_idea_tit">
                <h4>Free</h4>
                <ul>
                    <li>解放老师，解放家长，</li>
                    <li>通过趣味游戏和线上人机互动模式</li>
                    <li>培养英文学习主动性</li>
                </ul>
            </dt>
        </dl>
    </section>
    <!-- 布罗卡斯梯度进阶课程体系 夯实基础 循序渐进地综合提升孩子的英语能力 -->
    <section class="en_warp pub">
        <h3>布罗卡斯梯度进阶课程体系 夯实基础<br/>循序渐进地综合提升孩子的英语能力</h3>
        <img src="/static/wap/img/pic_kid.png"  height="302"/>
        <img class="child" src="/static/wap/img/pic_pupils.png"  height="401" />
    </section>
    <!-- M.I.C.多维智能教学法与8大特色教学 -->
    <section class="pub eight">
        <h3>M.I.C.多维智能教学法与8大特色教学</h3>
        <section class="eight_con">
            <dl class="eight_con_first">
                <dt>
                    <p class="circle">
                        <span class="circle_img"></span>
                    </p>
                    <h5>多感官教学</h5>
                    <h6>五官统合</h6>
                </dt>
                <dd>1</dd>
            </dl>
            <dl class="eight_con_two">
                <dt>
                    <p class="circle ">
                        <span class="circle_img ztsjx"></span>
                    </p>
                    <h5>主题式教学</h5>
                    <h6>生活情境</h6>
                </dt>
                <dd>2</dd>
            </dl>
            <dl class="eight_con_three">
                <dt>
                    <p class="circle">
                        <span class="circle_img jhsjx"></span>
                    </p>
                    <h5>全电子化交互式教学</h5>
                    <h6>有趣又有效</h6>
                </dt>
                <dd>3</dd>
            </dl>
            <dl class="eight_con_four">
                <dt>
                    <p class="circle">
                        <span class="circle_img fyjx"></span>
                    </p>
                    <h5>TPR全身肢体反应教学</h5>
                    <h6>知难行易</h6>
                </dt>
                <dd>4</dd>
            </dl>
        </section>

        <section class="eight_con">
            <dl class="eight_con_five">
                <dt>
                    <p class="circle">
                        <span class="circle_img lxsjx"></span>
                    </p>
                    <h5>重叠螺旋式教学</h5>
                    <h6>温故知新</h6>
                </dt>
                <dd>5</dd>
            </dl>
            <dl class="eight_con_six">
                <dt>
                    <p class="circle">
                        <span class="circle_img sdjx"></span>
                    </p>
                    <h5>会话演练与故事说读教学</h5>
                    <h6>听说读写</h6>
                </dt>
                <dd>6</dd>
            </dl>
            <dl class="eight_con_seven">
                <dt>
                    <p class="circle">
                        <span class="circle_img gyjx"></span>
                    </p>
                    <h5>说唱歌谣教学</h5>
                    <h6>易学易记</h6>
                </dt>
                <dd>7</dd>
            </dl>
            <dl class="eight_con_eight">
                <dt>
                    <p class="circle">
                        <span class="circle_img pdjx"></span>
                    </p>
                    <h5>自然拼读教学</h5>
                    <h6>识字阅读</h6>
                </dt>
                <dd>8</dd>
            </dl>
        </section>
    </section>
    <!-- 布罗卡斯学习流程 -->
    <section class="pub blksxxlc">布罗卡斯学习流程</section>
    <section class="pub xxlc">
        <section class="xxlc_con_warp">
            <section class="lc_con">
                <li class="lc_con_li">
                    <h4>入学测评</h4>
                    <span>了解孩子学习能力、学习基础、个人偏好及性格等</span>
                </li>
                <li class="lc_con_arrow">
                </li>
                <li class="lc_con_li">
                    <h4>个性化辅导方案</h4>
                    <span>基于数据分析，定制适合孩子个性特点的辅导方案</span>
                </li>
                <li class="lc_con_arrow">
                </li>
                <li class="lc_con_li">
                    <h4>定位薄弱点</h4>
                    <span>人机互动精准了解孩子的知识点掌握情况</span>
                </li>
                <li class="lc_con_arrow">
                </li>
                <li class="lc_con_li">
                    <h4>定制学习资料库</h4>
                    <span>依据个性方案系统匹配适学材料，因材施教，高效学习</span>
                </li>
            </section>
        </section>
    </section>
    <!-- 把知识带进教室 把教室带进生活 -->
    <section class="pub life">
        <h3>把知识带进教室 把教室带进生活</h3>
        <section class="flife">
            <img src="/static/wap/img/pic_class.png">
            <img src="/static/wap/img/pic_class2.png">
        </section>
        <section class="mlife">
            <img src="/static/wap/img/pic_class3.png">
        </section>
        <section class="flife">
            <img src="/static/wap/img/pic_class4.png">
            <img src="/static/wap/img/pic_class5.png">
        </section>
        <section class="mlife">
            <img src="/static/wap/img/pic_class6.png">
        </section>
    </section>
    {{template "wap_footer"}}
    </body>
{{end}}