{{define "wap/subject.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>北京易学教育科技有限公司</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/css/wap_sub.css">
    </head>
    <body>
    {{template "wap_nav"}}
    <!-- banner -->
    <section class="banner pub">
        <img src="/static/wap/img/banner.png" alt="">
    </section>
    <!-- 布罗卡斯课程理念 -->
    <section class="pub idea">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                布罗卡斯课程理念
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="smallTit">高效学习，事半功倍</h3>
        <dl class="happy">
            <dt class="ico_h">
                <img src="/static/wap/img/ico_h@2x.png"/>
            </dt>
            <dd>
                <h4 class="litte_Tit">Happy</h4>
                <ul class="item_ul">
                    <li>充满趣味性的产品设计</li>
                    <li>以孩子的兴趣作为出发点</li>
                    <li>点燃孩子的学习内驱力</li>
                </ul>
            </dd>
        </dl>
        <dl class="Artificial">
            <dt>
                <h4 class="litte_Tit">Artificial Intelligence</h4>
                <ul class="item_ul">
                    <li>AI人工智能练习系统+大数据分析报告，</li>
                    <li>关注每一位孩子独特的成长足迹，</li>
                    <li>让每一名孩子成长为更好的自己</li>
                </ul>
            </dt>
            <dd class="ico_h">
                <img src="/static/wap/img/ico_a@2x.png"/>
            </dd>
        </dl>
        <dl class="Free">
            <dt class="ico_h"><img src="/static/wap/img/ico_f@2x.png"/></dt>
            <dd>
                <h4 class="litte_Tit">Free</h4>
                <ul class="item_ul">
                    <li>解放老师，解放家长，</li>
                    <li>通过趣味游戏和线上人机互动模式</li>
                    <li>培养英文学习主动性</li>
                </ul>
            </dd>
        </dl>
        <dl class="Learning">
            <dt>
                <h4 class="litte_Tit">Learning</h4>
                <ul class="item_ul">
                    <li>以母语习得的方式</li>
                    <li>在无压力环境下</li>
                    <li>自然提高英语能力</li>
                </ul>
            </dt>
            <dd class="ico_h">
                <img src="/static/wap/img/ico_l@2x.png"/>
            </dd>
        </dl>
    </section>
    <!-- BROCA英语VS传统英语 -->
    <section class="pub ctyy">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA英语VS传统英语
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_vs">
            <img src="/static/wap/img/pic_vs@2x.png"/>
        </section>
    </section>
    <!-- BROCA课程体系 -->
    <section class="subject pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="child">幼儿段 For Kids</h3>
        <ul class="nect">
            <li>
                <h3>NCET</h3>
                <p>青少儿英语能力展示活动</p>
            </li>
            <li>
                <h3>CES</h3>
                <p>中国英语能力等级量表</p>
            </li>
            <li>
                <h3>CEFR</h3>
                <p>欧洲共同语言参考标准</p>
            </li>
        </ul>
        <ul class="three">
            <li>-</li>
            <li>-</li>
            <li>-</li>
            <li>
                <span>词汇量：300+，通过游戏方式参与到英语活动中来，激发学习兴趣。</span>
            </li>
        </ul>
        <ul class="one">
            <li class="k1">k1</li>
            <li class="k1">-</li>
            <li class="k1">-</li>
            <li>
                <span>词汇量：600+，注重交流能力和礼仪的培养，在引导下根据图片用英文描述场景，表达自己的喜好、情绪。</span>
            </li>
        </ul>
        <ul class="oneT">
            <li class="k1">k2</li>
            <li class="k1">L1</li>
            <li class="k1">A1</li>
            <li>
                <span>词汇量：1000+，能用英文简单复述故事情节，进行简单的英文戏剧表演，综合发展阅读能力，逐步养成学习英文的好习惯。</span>
            </li>
        </ul>

        <h3 class="child pupil childes">少儿段 For Pupils</h3>
    </section>
    <section class="pupiles pub child_li">
        <ul class="nect">
            <li>
                <h3>NCET</h3>
                <p>青少儿英语能力展示活动</p>
            </li>
            <li>
                <h3>CES</h3>
                <p>中国英语能力等级量表</p>
            </li>
            <li>
                <h3>CEFR</h3>
                <p>欧洲共同语言参考标准</p>
            </li>
        </ul>
        <ul class="three">
            <li class="k1">-</li>
            <li>-</li>
            <li>-</li>
            <li>
                <span>词汇量：550，掌握96组自然拼音组合，见词读音，听音写词，从幼儿学习模式逐步过渡到少儿学习模式。</span>
            </li>
        </ul>
        <ul class="one">
            <li class="k1">L1/L2</li>
            <li></li>
            <li></li>
            <li>
                <span>词汇量：800+，听、说、读、写能力全面发展，能按指定话题开展简单的讨论与交流，适应AI互动模式。</span>
            </li>
        </ul>
        <ul class="oneT">
            <li class="k1">L3/L4</li>
            <li class="k1">L2</li>
            <li class="k1"></li>
            <li>
                <span>词汇量：1200+，建立学习英语的主动性和成就感，养成按意群阅读的习惯，有意愿主动展现自己的英文能力，应试能力大幅度提高。</span>
            </li>
        </ul>
        <ul class="oneT oneTT">
            <li class="k1">L5/L6</li>
            <li class="k1">L3</li>
            <li class="k1">A2</li>
            <li>
                <span>词汇量：1600+，能听懂相关话题并讨论，能读懂相应水平的读物，使用英文工具探索新的知识领域，能通过书写作文表达个人观点，理解中外文化差异。</span>
            </li>
        </ul>
    </section>
    <!-- M.I.C.多维智能教学法与8大特色教学 -->
    <section class="pub six">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                M.I.C.多维智能教学法与8大特色教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="smallTit">兴趣x专注x互动=效果³</h3>
        <dl class="jx">
            <dt class="six_img">
                <img src="/static/wap/img/ico_senses@2x.png"/>
            </dt>
            <dd class="six_con">
                <h3 class="sxi_tit">多感官教学</h3>
                <p class="six_icon">五官统合</p>
            </dd>
        </dl>
        <dl class="ztjx">
            <dt class="six_con">
                <h3 class="sxi_tit">主题式教学</h3>
                <p class="six_icon">生活情境</p>
            </dt>
            <dd class="six_img">
                <img src="/static/wap/img/ico_scene@2x.png"/>
            </dd>
        </dl>
        <dl class="jhsjx">
            <dt class="six_img">
                <img src="/static/wap/img/ico_interactive@2x.png"/>
            </dt>
            <dd class="six_con">
                <h3 class="sxi_tit">全电子化交互式教学</h3>
                <p class="six_icon">有趣又有效</p>
            </dd>
        </dl>
        <dl class="fyjx">
            <dt class="six_con">
                <h3 class="sxi_tit">TPR全身肢体反应教学</h3>
                <p class="six_icon">知难行易</p>
            </dt>
            <dd class="six_img">
                <img src="/static/wap/img/ico_body@2x.png"/>
            </dd>
        </dl>
        <dl class="lhsjx">
            <dt class="six_img">
                <img src="/static/wap/img/ico_spiral@2x.png"/>
            </dt>
            <dd class="six_con">
                <h3 class="sxi_tit">重叠螺旋式教学</h3>
                <p class="six_icon">温故知新</p>
            </dd>
        </dl>
        <dl class="sdjx">
            <dt class="six_con">
                <h3 class="sxi_tit">会话演练与故事说读教学</h3>
                <p class="six_icon">听说读写</p>
            </dt>
            <dd class="six_img">
                <img src="/static/wap/img/ico_speak@2x.png"/>
            </dd>
        </dl>
        <dl class="gyjx">
            <dt class="six_img">
                <img src="/static/wap/img/ico_music@2x.png"/>
            </dt>
            <dd class="six_con">
                <h3 class="sxi_tit">说唱歌谣教学</h3>
                <p class="six_icon">易学易记</p>
            </dd>
        </dl>
        <dl class="pdjx">
            <dt class="six_con">
                <h3 class="sxi_tit">自然拼读教学</h3>
                <p class="six_icon">识字阅读</p>
            </dt>
            <dd class="six_img">
                <img src="/static/wap/img/ico_spelling@2x.png"/>
            </dd>
        </dl>
    </section>
    <!-- 布罗卡斯学习流程 -->
    <section class="pub xxlc">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                布罗卡斯学习流程
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="xxlc_warp">
            <section class="cpList cpListF">
                <section class="pc_teache">
                    <img src="/static/wap/img/pc_teache.png" />
                </section>
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">入学测评</h4>
                    <p class="xxlc_con">了解孩子学习能力、学习基础、个人偏好及性格等</p>
                </section>
            </section>
            <section class="xxlc_mid">
            </section>
            <section class="cpList dz">
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">定位薄弱点</h4>
                    <p class="xxlc_con">人机互动精准了解孩子的知识点掌握情况</p>
                </section>
                <section class="mid">
                </section>
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">个性化辅导方案</h4>
                    <p class="xxlc_con">基于数据分析，定制适合孩子个性特点的辅导方案</p>
                </section>
            </section>
            <section class="xxlc_mid dzxx">
            </section>
            <section class="cpList">
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">定制学习资料库</h4>
                    <p class="xxlc_con">依据个性方案系统匹配适学材料，因材施教，高效学习</p>
                </section>
                <section class="mid">
                </section>
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">线上线下学习训练</h4>
                    <p class="xxlc_con">多维智能教学体系，给孩子专业、贴心的学习训练</p>
                </section>
            </section>
            <section class="xxlc_mid">
            </section>
            <section class="cpList cpListLast">
                <section class="xxlc_item">
                    <h4 class="xxlc_tit">阶段测评</h4>
                    <p class="xxlc_con">对学员学习效果进行阶段测评，及时发现问题解决问题</p>
                </section>
            </section>
        </section>
    </section>
    <!-- 学习场景 -->
    <section class="pub cj">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                学习场景
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="cj_img">
            <img src="/static/wap/img/ico_toddler@2x.png" />
        </h3>
        <section>
            <ul class="cj_ul">
                <li><img src="/static/wap/img/pic_toddler1@2x.png"></li>
                <li><img src="/static/wap/img/pic_toddler2@2x.png"></li>
            </ul>
        </section>
        <h3 class="cj_img">
            <img src="/static/wap/img/ico_children@2x.png" />
        </h3>
        <section>
            <ul class="cj_ul">
                <li><img src="/static/wap/img/pic_children1@2x.png"></li>
                <li><img src="/static/wap/img/pic_children2@2x.png"></li>
            </ul>
        </section>
    </section>
    {{template "wap_footer"}}
    </body>
{{end}}