{{define "admin/login.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>布罗卡斯</title>
        <link href=/static/css/app.eb5fc5cf254016368bc2b45f774d6398.css rel=stylesheet>
    </head>
    <body>
        <div id=app></div>
        <script type=text/javascript src=/static/js/manifest.eeb2c031c0c552bd70ec.js></script>
        <script type=text/javascript src=/static/js/app.144fd55a7387a39cc653.js></script>
    </body>
    </html>
{{ end }}