{{define "index/about.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>关于我们</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/about.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <!-- banner -->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/assets/images/banner2.png">
            </div>
        </div>
    </div>
    <!-- 关于我们 -->
    <section class="brand_con_warp pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_con">
            <section class="brand_con_l"></section>
            <section class="brand_con_r">
                易乐教育科技集团于2014年依据哈佛教育研究学院、康奈尔大学教育理论，联合《走遍美国》《BBC英语》等优质英语教育资源，参照美国幼儿教育协会NAEYC教育标准，自主研发了全体系、创新型AI智能英语课程体系，推出了“布罗卡斯智能英语”品牌。并于2018年联合美国、台湾技术团队及《英语周报》语言专家打造了“BROCA智能学”在线英语AI学练系统。该系统于2016年获得中国教育学会“十二五”科研项目成果奖，成为中国外语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位。目前在全国100多个城市，已有近300多家合作校区，每年都有超过10万名儿童通过人机互教陪伴孩子快乐地学习英语、轻松提分，并快速提升孩子综合英语能力。
            </section>
        </section>
    </section>
    <!-- 品牌源起 -->
    <section class="pub brand_com">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌源起
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_com_con">
            <section class="brand_com_l">
                <h3>源于19世纪脑科学布罗卡斯语言区理论体系</h3>
                <p>1861年法国脑科学家布罗卡斯发现“布罗卡斯区” 负责语言的学习和储存，1996年美国康奈尔大学研究证实并发表于《nature》，同年哈佛大学通过科学扫描技术确认布罗卡斯区在幼儿时期3周岁左右开始发育，12岁左右发育基本成熟关闭。 布罗卡斯智能英语致力于在3-12岁语言发展黄金期，为孩子带来高效、优质的英语教育。</p>
            </section>
            <section class="brand_com_r">
                <img src="/static/assets/images/pic_brocasare.png" />
            </section>
        </section>
    </section>
    <!-- 品牌荣誉 -->
    <section class="pub youshi">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌荣誉
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="youshi_con">
            <section class="prev">
            </section>
            <section class="youshi_con_warp">
                <section class="youshi_con_list">
                    <ul class="youshi_con_ul">
                        <li><img data-original="http://img.mofashuxue.com/pic_medal4.png?imageslim" src="http://img.mofashuxue.com/pic_medal4.png?imageslim" class="lazy" style=""></li>
                        <li><img data-original="http://img.mofashuxue.com/pic_medal5.png?imageslim" src="http://img.mofashuxue.com/pic_medal5.png?imageslim" class="lazy" style=""></li>
                        <li><img data-original="http://img.mofashuxue.com/pic_medal6.png?imageslim" src="http://img.mofashuxue.com/pic_medal6.png?imageslim" class="lazy" style=""></li>
                        <ul class="lastM">
                            <li><img data-original="http://img.mofashuxue.com/pic_medal7.png?imageslim" src="http://img.mofashuxue.com/pic_medal7.png?imageslim" class="lazy" style=""></li>
                            <li><img data-original="http://img.mofashuxue.com/pic_medal8.png?imageslim" src="http://img.mofashuxue.com/pic_medal8.png?imageslim" class="lazy" style=""></li>
                        </ul>
                    </ul>
                    <ul class="youshi_con_ul">
                        <li><img data-original="http://img.mofashuxue.com/pic_medal4.png?imageslim" src="http://img.mofashuxue.com/pic_medal4.png?imageslim" class="lazy" style=""></li>
                        <li><img data-original="http://img.mofashuxue.com/pic_medal5.png?imageslim" src="http://img.mofashuxue.com/pic_medal5.png?imageslim" class="lazy" style=""></li>
                        <li><img data-original="http://img.mofashuxue.com/pic_medal6.png?imageslim" src="http://img.mofashuxue.com/pic_medal6.png?imageslim" class="lazy" style=""></li>
                        <ul class="lastM">
                            <li><img data-original="http://img.mofashuxue.com/pic_medal7.png?imageslim" src="http://img.mofashuxue.com/pic_medal7.png?imageslim" class="lazy" style=""></li>
                            <li><img data-original="http://img.mofashuxue.com/pic_medal8.png?imageslim" src="http://img.mofashuxue.com/pic_medal8.png?imageslim" class="lazy" style=""></li>
                        </ul>
                    </ul>
                </section>
            </section>
            <section class="next">
            </section>
        </section>
    </section>
    <section class="pub sixBig">
        <section class="sixBig_con">
            <section class="sixBig_conL">
                <dl class="jy">
                    <dt></dt>
                    <dd>
                        <h4>精英团队</h4>
                        <p>由《走遍美国》《BBC英语》《波波嘟的一天》的梦工厂制作团队创办</p>
                    </dd>
                </dl>
                <dl class="znxt">
                    <dt></dt>
                    <dd>
                        <h4>智能系统</h4>
                        <p>自主研发“BROCA智能学”系统，拥有软著权、核心技术，以及独家英语题库资源</p>
                    </dd>
                </dl>
                <dl class="gj">
                    <dt></dt>
                    <dd>
                        <h4>国际标准</h4>
                        <p>参照美国幼教协会NAEYC课程标准，获得国际、国内多项科研成果及权威认证奖项</p>
                    </dd>
                </dl>
            </section>
            <section class="sixBig_conZ">
                <img src="http://img.mofashuxue.com/pic_advantage1.png?imageslim" class="lazy">
            </section>
            <section class="sixBig_conR">
                <dl class="sc">
                    <dt></dt>
                    <dd>
                        <h4>市场独家</h4>
                        <p>自主研发全体系教材及教具，拥有独立知识产权，严控渠道，确保唯一性</p>
                    </dd>
                </dl>
                <dl class="qw">
                    <dt></dt>
                    <dd>
                        <h4>权威认可</h4>
                        <p>被授予“中国外语教育研究中心战略合作及中小学英语教育实验基地”</p>
                    </dd>
                </dl>
                <dl class="yz">
                    <dt></dt>
                    <dd>
                        <h4>优质资源</h4>
                        <p>中国外语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位</p>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 尾部 -->
    <!-- 版权 -->
    {{template "footer"}}
    <script>
        var $slider = $('.youshi_con_list');
        var $slider_child_l = $('.youshi_con_list ul.youshi_con_ul').length;
        var $slider_width = $('.youshi_con_list ul.youshi_con_ul').width();
        var speed =2;

        $slider.width($slider_child_l * $slider_width);
        var slider_count = 0;
        if ($slider_child_l < speed) {
            $('.next').css({cursor: 'auto'});
        }
        $('.next').click(function() {
            if ($slider_child_l < 1 || slider_count >= $slider_child_l - 1) {
                return false;
            }
            slider_count++;
            $slider.animate({left: '-=' + $slider_width + 'px'}, 'slow');
            slider_pic();
        });

        $('.prev').click(function() {
            if (slider_count <= 0) {
                return false;
            }
            slider_count--;
            $slider.animate({left: '+=' + $slider_width + 'px'}, 'slow');
            slider_pic();
        });
        function slider_pic() {
            if (slider_count >= $slider_child_l - 2) {
                $('.next').css({cursor: 'auto'});
            }
            else if (slider_count > 0 && slider_count <= $slider_child_l - 4) {
                $('.prev').css({cursor: 'pointer'});
                $('.next').css({cursor: 'pointer'});
            }
            else if (slider_count <= 0) {
                $('.prev').css({cursor: 'auto'});
            }
        }
    </script>
    </body>
    </html>
{{end}}