{{define "index/campus.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>全国校区</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        {{template "head"}}
        <link href="/static/assets/css/school.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <!-- banner -->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/assets/images/banner22.png">
            </div>
        </div>
    </div>
    <section class="pub school">
        <img src="/static/assets/images/text@2x.png" />
    </section>
    <section class="all pub">
        <section class="all_tit">
            <h3>全国中心</h3>
        </section>
        <section class="map">
            <div style="padding: 100px 100px 10px;">
                <div class="input-group search">
						<span class="input-group-addon">
							城市
						</span>
                    <select class="form-control selectpicker">
                        <option value="1">广东省</option>
                        <option value="2">广西省</option>
                        <option value="3">福建省</option>
                        <option value="4">湖南省</option>
                        <option value="5">山东省</option>
                    </select>
                </div>
            </div>
        </section>
    </section>
    <section class="school_ul pub">
    </section>
    <!-- 版权 -->
    {{template "footer"}}
    <script type="text/javascript" src="/static/index/campus.js"></script>
    </body>
    </html>
{{end}}