{{define "index/index.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>北京易学教育科技有限公司</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/assets/images/home_banner1.png">
            </div>
            <div class="carousel-item">
                <img src="/static/assets/images/home_banner2.png">
            </div>
            <div class="carousel-item">
                <img src="/static/assets/images/home_banner3.png">
            </div>
        </div>
    </div>
    <!-- 你正在面临的学习问题 -->
    <section class="pub elearn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                你正在面临的学习问题
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="elearn_img">
            <img src="/static/assets/images/pic_text@2x.png" />
        </section>
    </section>
    <!-- AI智能解决方案 -->
    <section class="pub plan">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能解决方案
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="plan_slogan">智能学习，轻松提分</section>
        <section class="plan_con">
            <dl>
                <dt>
                    <img src="/static/assets/images/ico_xsxx@2x.png" />
                </dt>
                <dd>
                    <h3>线上线下</h3>
                    <p>线下老师面授，线上智能学练</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="/static/assets/images/ico_rjhd@2x.png" />
                </dt>
                <dd>
                    <h3>人机互动</h3>
                    <p>专属电脑老师1v1辅导</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="/static/assets/images/ico_xxbg@2x.png" />
                </dt>
                <dd>
                    <h3>学习报告</h3>
                    <p>收集学习数据，定期反馈学情</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="/static/assets/images/ico_gxhxx@2x.png" />
                </dt>
                <dd>
                    <h3>个性化学习</h3>
                    <p>根据掌握程度，针对性推送学习内容</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="/static/assets/images/ico_24h@2x.png" />
                </dt>
                <dd>
                    <h3>24小时待命</h3>
                    <p>保证学员随时随地灵活使用</p>
                </dd>
            </dl>
        </section>
    </section>
    <!-- AI智能多维情景教学 -->
    <section class="ai pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能多维情景教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="ai_con">
            <img src="/static/assets/images/pic_scene@2x.png" />
        </section>
    </section>
    <!-- 课程设置 -->
    <section class="subject pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能多维情景教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="subject_warp">
            <section class="subject_out_warp">
                <section class="baby_english">
                    <section class="baby_top">
                        <section class="baby_english_child">
                            <img src="/static/assets/images/pic_3-6.png"/>
                        </section>
                        <section class="line_blue">
                            <img src="/static/assets/images/line_blue@2x.png" />
                        </section>
                        <section class="baby_bottom">
                            <section class="top_desc">
                                <h3>3-6岁幼儿英语</h3>
                                <h4>激发兴趣，奠定基础</h4>
                                <p></p>
                            </section>
                            <section class="bottom_desc">
                                <h3>中外教面授+智能点读+APP+外教直播课</h3>
                                <p>互动电子课件、趣味教具，激发孩子学习主动性 智能点读笔，生词拼读释义瞬间get APP包含海量学习资源，拓展知识结构 课堂游戏式互动其乐无穷，以兴趣为引导</p>
                            </section>
                        </section>
                    </section>
                    <section class="baby_top baby_top_bottom">
                        <section class="baby_bottom">
                            <section class="top_desc">
                                <h3>7-12岁少儿英语</h3>
                                <h4>快速提分，一路领先</h4>
                                <p></p>
                            </section>
                            <section class="bottom_desc">
                                <h3>AI学练系统+随堂人机双师+自适应题库练习</h3>
                                <p>专属AI老师，定位孩子学习薄弱点重点提升 专业英语老师+“最强大脑”智能老师，实现1+1>2的教学效果 根据学习数据定制个性化辅导方案，因材施教</p>
                            </section>
                        </section>
                        <section class="line_blue line_red">
                            <img src="/static/assets/images/line_red@2x.png" />
                        </section>
                        <section class="baby_english_child">
                            <img src="/static/assets/images/pic_7-12@2x.png"/>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <!-- 强大的线上系统 -->
    <section class="pub strong">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="systemList">
            <dl>
                <dt>移动端APP</dt>
                <dd>
                    <img  src="http://img.mofashuxue.com/pic_app.png?imageslim">
                    <p>24小时随时随地学 预习复习双重保障 游戏闯关趣味练习 锻炼孩子自主独立 高效学习家长无忧</p>
                </dd>
            </dl>
            <dl class="mid">
                <dt></dt>
                <dd>
                    <img src="/static/assets/images/mid.png" class="lazy" style="">
                </dd>
            </dl>
            <dl>
                <dt>BROCA智能学练系统</dt>
                <dd>
                    <img src="http://img.mofashuxue.com/pic_ai.png?imageslim">
                    <p>1v1定制针对性训练 满足个性学习需求 智能分析查漏补缺 定期反馈学情报告 协助老师因材施教</p>
                </dd>
            </dl>
        </section>
    </section>
    <!-- 选择布罗卡斯的理由-->
    <section class="pub reason">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                选择布罗卡斯的理由
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_reason_con_list">
            <dl>
                <dt>
                    <img src="http://img.mofashuxue.com/pic_reason1.png?imageslim" class="lazy" style="">
                </dt>
                <dd>
                    <h6>科学原理</h6>
                    <p>遵循儿童脑科学原理，集科学性、系统性、趣味性于一体</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="http://img.mofashuxue.com/pic_reason2.png?imageslim" class="lazy" style="">
                </dt>
                <dd>
                    <h6>国际标准</h6>
                    <p>同步美国幼儿教育协会NAEYC课程标准，中国教育学会十二五科研项目成果</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img data-original="http://img.mofashuxue.com/pic_reason3.png?imageslim" src="http://img.mofashuxue.com/pic_reason3.png?imageslim" class="lazy" style="">
                </dt>
                <dd>
                    <h6>真实情景</h6>
                    <p>纯正美语幼儿发音、课件动画，儿歌、身临其境感受美国幼儿生活</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="http://img.mofashuxue.com/pic_reason4.png" class="lazy">
                </dt>
                <dd>
                    <h6>内容丰富</h6>
                    <p>四大主题、五大幼儿学习版块，涵盖全领域，超过2000+人机互动游戏、练习</p>
                </dd>
            </dl>
        </section>
    </section>
    <!-- 品牌介绍 -->
    <section class="pub brand">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <dl class="brand_con">
            <dt>
                <img src="/static/assets/images/pic_brand@2x.png"/>
            </dt>
            <dd>
                "布罗卡斯智能英语隶属于北京易学教育科技有限公司，是全国首家AI智能人机互教英语品牌，专注于3-15岁多维智能情景英语教学。 布罗卡斯智能英语依据哈佛教育研究学院、康奈尔大学教育理论，联合《走遍美国》《BBC英语》等优质英语教育资源，参照美国幼儿教育协会NAEYC教育标准，自主研发了全体系、创新型AI智能英语课程体系，并与美国、台湾技术团队及语言专家联合打造了“BROCA智能学”在线AI学练系统。"
            </dd>
        </dl>
    </section>
    <!-- 公司动态 -->
{{/*    <section class="pub news">*/}}
{{/*        <section class="system_list">*/}}
{{/*            <h3 class="tit">*/}}
{{/*                <span class="tit_icon"></span>*/}}
{{/*                公司动态*/}}
{{/*                <span class="tit_icon"></span>*/}}
{{/*            </h3>*/}}
{{/*        </section>*/}}
{{/*        <section class="six_reason">*/}}

{{/*        </section>*/}}
{{/*    </section>*/}}
    {{template "footer"}}
    <script>
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase();
        var isMobile = false;
        for (var i=0; i<mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i])!=-1){
                isMobile = true;
                location.href = '/wap';
                break;
            }
        }
    </script>
    </body>
    </html>
{{end}}