{{define "index/index.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>北京易学教育科技有限公司</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    {{template "banner"}}
    <!-- 你正在面临的学习问题 -->
    <section class="pub elearn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                你正在面临的学习问题
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="elearn_img">
        </section>
    </section>
    <!-- AI智能解决方案 -->
    <section class="pub plan">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能解决方案
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="plan_slogan">智能学习，轻松提分</section>
        <section class="plan_con">

        </section>
    </section>
    <!-- AI智能多维情景教学 -->
    <section class="ai pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能多维情景教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="ai_con">
        </section>
    </section>
    <!-- 课程设置 -->
    <section class="subject pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                AI智能多维情景教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="subject_warp">
            <section class="subject_out_warp">
                <section class="baby_english">
                    <section class="baby_top">
                        <section class="baby_english_child six_img">
                        </section>
                        <section class="line_blue">
                            <img src="/static/assets/images/line_blue@2x.png" />
                        </section>
                        <section class="baby_bottom three">
                        </section>
                    </section>
                    <section class="baby_top baby_top_bottom">
                        <section class="baby_bottom seven">
                        </section>
                        <section class="line_blue line_red">
                            <img src="/static/assets/images/line_red@2x.png" />
                        </section>
                        <section class="baby_english_child seven_img">
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <!-- 强大的线上系统 -->
    <section class="pub strong">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="systemList">
        </section>
    </section>
    <!-- 选择布罗卡斯的理由-->
    <section class="pub reason">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                选择布罗卡斯的理由
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_reason_con_list">
        </section>
    </section>
    <!-- 品牌介绍 -->
    <section class="pub brand">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <dl class="brand_con">
        </dl>
    </section>
    <!-- 公司动态 -->
{{/*    <section class="pub news">*/}}
{{/*        <section class="system_list">*/}}
{{/*            <h3 class="tit">*/}}
{{/*                <span class="tit_icon"></span>*/}}
{{/*                公司动态*/}}
{{/*                <span class="tit_icon"></span>*/}}
{{/*            </h3>*/}}
{{/*        </section>*/}}
{{/*        <section class="six_reason">*/}}

{{/*        </section>*/}}
{{/*    </section>*/}}
    {{template "footer"}}
    <script type="text/javascript" src="/static/index/index.js"></script>
    <script>
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase();
        var isMobile = false;
        for (var i=0; i<mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i])!=-1){
                isMobile = true;
                location.href = '/wap';
                break;
            }
        }
    </script>
    </body>
    </html>
{{end}}