{{define "index/join.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>布罗卡斯英语加盟</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/join.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://img.cdn.mofashuxue.com/banner11.png?imageslim">
            </div>
            <div class="carousel-item">
                <img src="http://img.cdn.mofashuxue.com/banner22.png?imageslim" class="lazy">
            </div>
        </div>
    </div>
    <!--加盟资料-->
    <section class="banner_form_warp pub" id="banner_form" style="top: 100px">
        <section class="banner_form">
            <form method="post" action="/Index/english.html" name="myform">
                <h3 class="join_tit">免费领取加盟资料</h3>
                <section class="form_tit">
                    <span>姓名：</span>
                    <input type="text" placeholder="" name="name">
                </section>
                <section class="form_tit">
                    <span>电话：</span>
                    <input type="text" placeholder="" name="tel">
                </section>
                <section class="form_tit">
                    <span>地区：</span>
                    <input type="text" placeholder="" name="content" >
                </section>
                <button class="submit btn">立即领取</button>
                <p class="promise">我们承诺您的信息将严格保密请放心填写</p>
            </form>
        </section>
    </section>
    <!--品牌介绍-->
    <section class="brand_con_warp pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌介绍
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="brand_con">
            <section class="brand_con_l"></section>
            <section class="brand_con_r">
                北京易学教育科技有限公司于2014年依据哈佛教育研究学院、康奈尔大学教育理论，联合《走遍美国》《BBC英语》等优质英语教育资源，参照美国幼儿教育协会NAEYC教育标准，自主研发了全体系、创新型AI智能英语课程体系，推出了“布罗卡斯智能英语”品牌。并于2018年联合美国、台湾技术团队及《英语周报》语言专家打造了“BROCA智能学”在线英语AI学练系统。该系统于2016年获得中国教育学会“十二五”科研项目成果奖，成为中国外语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位。目前在全国100多个城市，已有近300多家合作校区，每年都有超过10万名儿童通过人机互教陪伴孩子快乐地学习英语、轻松提分，并快速提升孩子综合英语能力。
            </section>
        </section>
    </section>
    <!--同步美国-->
    <section class="sync_america pub">
        <img data-original="http://img.cdn.mofashuxue.com/pic_shierwu.png?imageslim" src="http://img.cdn.mofashuxue.com/pic_shierwu.png" class="lazy" >
    </section>
    <!--多维情景教学模式-->
    <section class="teaching pub">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                多维情景教学模式
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="teaching_con">
            <section class="teaching_l">
                <img data-original="http://img.mofashuxue.com/pic_scene.png?imageslim" src="" class="lazy" >
            </section>
            <section class="teaching_r">
                <li>
                    <p>中外教互动课堂</p>
                    <span>Interactive Class</span>
                </li>
                <li>
                    <p>人机双师互教</p>
                    <span>Teacher & Online</span>
                </li>
                <li>
                    <p>AI学习系统</p>
                    <span>AI Learning System</span>
                </li>
                <li>
                    <p>多维度题库练习</p>
                    <span>Online Practice Bank</span>
                </li>
                <li>
                    <p>美国分级阅读RAZ外教直播课</p>
                    <span>Reading A to Z Class</span>
                </li>
                <li>
                    <p>全情景智能点读</p>
                    <span>Touch&Talk</span>
                </li>
            </section>
        </section>
    </section>
    <!--BROCA强大的线上系统-->
    <section class="pub strong">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                BROCA强大的线上系统
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="systemList">
            <dl>
                <dt>移动端小程序</dt>
                <dd>
                    <img data-original="http://img.cdn.mofashuxue.com/pic_app%402x.png" src="http://img.cdn.mofashuxue.com/pic_app%402x.png" class="lazy" >
                </dd>
            </dl>
            <dl class="mid">
                <dt></dt>
                <dd>
                    <img data-original="/static/assets/images/mid.png" src="/static/assets/images/mid.png" class="lazy" >
                </dd>
            </dl>
            <dl>
                <dt>BROCA智能学练系统</dt>
                <dd>
                    <img data-original="http://img.cdn.mofashuxue.com/pic_ai%402x.png" src="http://img.cdn.mofashuxue.com/pic_ai%402x.png" class="lazy" >
                </dd>
            </dl>
        </section>
        <section class="pic_app_ai">
            <img data-original="http://img.cdn.mofashuxue.com/pic_app%2Bai%402x.png" src="http://img.cdn.mofashuxue.com/pic_app%2Bai%402x.png" class="lazy" >
        </section>
    </section>
    <!--BROCA课程体系-->
    <section class="pub subject">
        <section class="subject_con">
            <section class="system_list">
                <h3 class="tit">
                    <span class="tit_icon"></span>
                    BROCA课程体系
                    <span class="tit_icon"></span>
                </h3>
            </section>
            <section class="level_con">
                <ul class="lon_hun">
                    <li>
                        语言发展
                    </li>
                    <li class="i">
                        <img src="/static/assets/images/new_pic_kctx.png">
                    </li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="level_ti">
                    <li>课程阶段</li>
                </ul>
                <ul class="first">
                    <li></li>
                    <li class="r">A、B</li>
                </ul>
                <ul class="sec">
                    <li></li>
                    <li class="y">C、D</li>
                </ul>
                <ul class="three">
                    <li></li>
                    <li class="yell">E、F</li>
                </ul>
                <ul class="four">
                    <li></li>
                    <li class="ph">PH</li>
                </ul>
                <ul class="five">
                    <li></li>
                    <li class="a1">A1、A2 A3、A4</li>
                </ul>
                <ul class="six">
                    <li></li>
                    <li class="b1">B1、B2 B3、B4</li>
                </ul>
                <ul class="seven">
                    <li class="c1">C1、C2 C3、C4</li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="three_hun">
                    <li>能力描述</li>
                    <li class="r">词汇量：300+，通过游戏方式参与到英语活动中来，激发学习兴趣。</li>
                    <li class="y">词汇量：600+，注重交流能力和礼仪的培养，在引导下根据图片用英文描述场景，表达自己的喜好、情绪。</li>
                    <li class="yell">词汇量：1000+，能用英文简单复述故事情节，进行简单的英文戏剧表演，综合发展阅读能力，逐步养成学习英文的好习惯。</li>
                    <li class="ph">词汇量：550，掌握96组自然拼音组合，见词读音，听音写词，从幼儿学习模式逐步过渡到少儿学习模式。</li>
                    <li class="a1">核心词汇：800+，听、说、读、写能力全面发展，能按指定话题开展简单的讨论与交流，适应AI互动模式。</li>
                    <li class="b1">核心词汇：1200+，建立学习英语的主动性和成就感，养成按意群阅读的习惯，有意愿主动展现自己的英文能力，应试能力大幅度提高。</li>
                    <li class="c1">核心词汇：1600+，能听懂相关话题并讨论，能读懂相应水平的读物，使用英文工具探索新的知识领域，能通过书写作文表达个人观点，理解中外文化差异。</li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="lon_hun">
                    <li>
                        成长阶段
                    </li>
                    <li class="y">幼儿段 For Kids</li>
                    <li class="b1">少儿段 For Pupils</li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="ncet_hun">
                    <li>
                        <h3>NCET</h3>
                        <p>青少儿英语能力展示活动</p>
                    </li>
                    <li class="r">—</li>
                    <li class="y">K1</li>
                    <li class="yell">k2</li>
                    <li class="ph">—</li>
                    <li class="a1">L1 L2</li>
                    <li class="b1">L3 L4</li>
                    <li class="c1">L5 L6</li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="ncet_hun">
                    <li>
                        <h3>CES</h3>
                        <p>中国英语能力</p>
                    </li>
                    <li class="r">—</li>
                    <li class="y">—</li>
                    <li class="yell">L1</li>
                    <li class="ph">—</li>
                    <li class="a1">—</li>
                    <li class="b1">L2</li>
                    <li class="c1">L3</li>
                </ul>
            </section>
            <section class="level_con">
                <ul class="ncet_hun">
                    <li>
                        <h3>CEFR</h3>
                        <p>欧洲共同语言参考标准</p>
                    </li>
                    <li class="r">—</li>
                    <li class="y">—</li>
                    <li class="yell">A1</li>
                    <li class="ph">—</li>
                    <li class="a1">—</li>
                    <li class="b1">—</li>
                    <li class="c1">A2</li>
                </ul>
            </section>
        </section>
    </section>

    <!--学习场景-->
    <section class="pub learn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                学习场景
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_toddler_con">
            <ul class="pic_toddler">
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_toddler.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/newpic_toddler1.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/newpic_toddler2.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_toddler3.png?imageslim" src="" class="lazy" >
                </li>
            </ul>
            <ul class="pic_children">
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children1.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children2.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children3.png?imageslim" src="" class="lazy" >
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children.png?imageslim" src="" class="lazy" >
                </li>
            </ul>
        </section>
    </section>
    <!--BROCA英语六大优势-->
    <section class="system_list six_Big">
        <h3 class="tit">
            <span class="tit_icon"></span>
            BROCA英语六大优势
            <span class="tit_icon"></span>
        </h3>
    </section>
    <section class="pub sixBig">
        <section class="sixBig_con">
            <section class="sixBig_conL">
                <dl class="jy">
                    <dt></dt>
                    <dd>
                        <h4>精英团队</h4>
                        <p>由《走遍美国》《BBC英语》《波波嘟的一天》的梦工厂制作团队创办</p>
                    </dd>
                </dl>
                <dl class="znxt">
                    <dt></dt>
                    <dd>
                        <h4>智能系统</h4>
                        <p>自主研发“BROCA智能学”系统，拥有软著权、核心技术，以及独家英语题库资源</p>
                    </dd>
                </dl>
                <dl class="gj">
                    <dt></dt>
                    <dd>
                        <h4>国际标准</h4>
                        <p>参照美国幼教协会NAEYC课程标准，获得国际、国内多项科研成果及权威认证奖项</p>
                    </dd>
                </dl>
            </section>
            <section class="sixBig_conZ">
                <img src="http://img.mofashuxue.com/pic_advantage1.png?imageslim" class="lazy" >
            </section>
            <section class="sixBig_conR">
                <dl class="sc">
                    <dt></dt>
                    <dd>
                        <h4>市场独家</h4>
                        <p>自主研发全体系教材及教具，拥有独立知识产权，严控渠道，确保唯一性</p>
                    </dd>
                </dl>
                <dl class="qw">
                    <dt></dt>
                    <dd>
                        <h4>权威认可</h4>
                        <p>被授予“中国外语教育研究中心战略合作及中小学英语教育实验基地”</p>
                    </dd>
                </dl>
                <dl class="yz">
                    <dt></dt>
                    <dd>
                        <h4>优质资源</h4>
                        <p>中国外语教育研究中心“全国青少儿英语能力展示活动（NCET）”授权单位</p>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!--BROCA英语VS传统英语-->
    <section class="system_list between">
        <h3 class="tit">
            <span class="tit_icon"></span>
            BROCA英语VS传统英语
            <span class="tit_icon"></span>
        </h3>
    </section>
    <section class="ct pub">

        <section class="ct_con">
            <section class="ctList">
                <section class="ctL">
                    <section class="ctL_con">
                        <h5><span>BROCA英语</span></h5>
                        <ul>
                            <li>AI智能分析每个孩子特征，因材施教</li>
                            <li>结合实体课堂人机互教，直接提分快速有效</li>
                            <li>知识点螺旋重叠式递增，注重交流、阅读和应用</li>
                            <li>电子课件涵盖1000+专属儿童英文游戏，提升课堂互动性</li>
                            <li>小程序植入真人外教，辅助复习</li>
                            <li>小程序激励系统锻炼孩子项目管理能力</li>
                        </ul>
                    </section>
                </section>
                <section class="ctM">
                    <ul>
                        <li>科技方面</li>
                        <li>教学方面</li>
                        <li>课程方面</li>
                        <li>课件方面</li>
                        <li>线上小程序</li>
                        <li>能力培养</li>
                    </ul>
                </section>
                <section class="ctR">
                    <section class="ctR_con">
                        <h5><span>传统英语</span></h5>
                        <ul>
                            <li>没有AI系统</li>
                            <li>只有老师面授，没有人机互动</li>
                            <li>单纯模块化教学内容，抽象不易理解</li>
                            <li>只有简单的动画、图片或PPT，无法实现互动</li>
                            <li>小程序或APP缺少真人外教视频</li>
                            <li>小程序或APP内容单一</li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="pub childres">
        <img data-original="http://img.mofashuxue.com/bg_red2.png?imageslim" src="" class="lazy" >
    </section>
    <!--贯穿全程的六大支持团队-->
    <section class="pub pic_reason">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                贯穿全程的六大支持团队
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_reason_con">
            <section class="pic_reason_con_list">
                <dl>
                    <dt>
                        <img data-original="http://img.cdn.mofashuxue.com/pic_reason1%402x.png" src="http://img.cdn.mofashuxue.com/pic_reason1%402x.png" class="lazy" >
                    </dt>
                    <dd>
                        <h6>研发团队</h6>
                        <p>提供同步美国幼教课程及相关课件</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img data-original="http://img.cdn.mofashuxue.com/pic_reason2@2x.png" src="http://img.cdn.mofashuxue.com/pic_reason2@2x.png" class="lazy" >
                    </dt>
                    <dd>
                        <h6>营建团队</h6>
                        <p>提供完善的空间规划设计及筹建指导</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img data-original="http://img.mofashuxue.com/pic_reason3.png?imageslim" src="" class="lazy" >
                    </dt>
                    <dd>
                        <h6>市场团队</h6>
                        <p>提供精准的市场分析及营销市场方案</p>
                    </dd>
                </dl>
            </section>
            <section class="pic_reason_con_list">
                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason4@2x.png" class="lazy" >
                    </dt>
                    <dd>
                        <h6>营运团队</h6>
                        <p>提供管理运营及教学教研指导</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason5@2x.png" class="lazy" >
                    </dt>
                    <dd>
                        <h6>培训团队</h6>
                        <p>提供优质的开业前和各阶段在职培训</p>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="http://img.cdn.mofashuxue.com/pic_reason6@2x.png" class="lazy" >
                    </dt>
                    <dd>
                        <h6>技术团队</h6>
                        <p>提供AI人机互教与课后APP 智能软件</p>
                    </dd>
                </dl></section>
        </section>
    </section>
    <!--教材展示-->
    <section class="pub show">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                教材展示
                <span class="tit_icon"></span>
            </h3>
        </section>
    </section>
    <section class="pub pic_textbook">
        <img data-original="http://img.cdn.mofashuxue.com/pic_textbook@2x.png?imageslim" src="http://img.cdn.mofashuxue.com/pic_textbook@2x.png?imageslim" class="lazy" >
    </section>
    <!--品牌荣誉-->
    <section class="pub ppry">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                品牌荣誉
                <span class="tit_icon"></span>
            </h3>
        </section>
    </section>
    <section class="brand_ul pub">
        <div id="btn-left" class="arrow-btn dasabled"></div>
        <div class="slider">
            <ul>
                <li><img data-original="http://img.cdn.mofashuxue.com/pic_medal1@2x.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.cdn.mofashuxue.com/pic_medal2@2x.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.cdn.mofashuxue.com/pic_medal3@2x.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal4.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal5.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal6.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal7.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal8.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal9.png?imageslim" src="" class="lazy" ></li>
                <li><img data-original="http://img.mofashuxue.com/pic_medal10.png?imageslim" src="" class="lazy" ></li>
            </ul>
        </div>
        <div id="btn-right" class="arrow-btn"></div>
    </section>

    <section class="pub news">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                近期加盟动态
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="news_list">
            <dl>
                <a>
                    <dt><img src="" class="lazy" ></dt>
                    <dd>
                        <h6>新闻标题</h6>
                        <p>新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a>
                    <dt><img src="" class="lazy" ></dt>
                    <dd>
                        <h6>新闻标题</h6>
                        <p>新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a>
                    <dt><img src="" class="lazy" ></dt>
                    <dd>
                        <h6>新闻标题</h6>
                        <p>新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容</p>
                    </dd>
                </a>
            </dl>
            <dl>
                <a>
                    <dt><img src="" class="lazy" ></dt>
                    <dd>
                        <h6>新闻标题</h6>
                        <p>新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容</p>
                    </dd>
                </a>
            </dl>
        </section>
        <section class="more">
            <a href="">更多内容</a>
        </section>
    </section>
    {{template "footer"}}
    </body>
    </html>
{{end}}