{{define "index/ai.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI学习平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/ai.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <!-- banner -->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {{ range .ai}}
            <div class="carousel-item active">
                <img src="{{.Imgurl}}">
            </div>
            {{end}}
        </div>
    </div>
    <section class="pub school">
        <img src="http://img.cdn.brocaedu.com/202011301134807.png?imageslim">
    </section>
    <section class="pub imgList">
        <img src="http://img.cdn.brocaedu.com/202011301123655.png?imageslim"/>
        <img src="http://img.cdn.brocaedu.com/202011301123724.png?imageslim"/>
        <img src="http://img.cdn.brocaedu.com/202011301123800.png?imageslim"/>
    </section>
    <section class="pub auto" style="background:url(http://img.cdn.brocaedu.com/202011301123957.png?imageslim) no-repeat top center">
        <section class="auto_con">
            <dl class="auto_detail mt7">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/202010301094949.png"/>
                </dt>
                <dd>
                    <h3>AI自适应系统</h3>
                    <span></span>
                    <ul>
                        <li>改变传统教育模式，</li><li> 让孩子拥有自己专属的AI老师，</li><li>突破时间和地域限制，</li><li>共享优质教育资源。</li><li>更能因材施教，</li><li>提供千人千面的学习内容。</li>
                    </ul>
                </dd>
            </dl>
            <dl class="auto_detail mt7">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/202010301095317.png"/>
                </dt>
                <dd>
                    <h3>多维度梯度式练习</h3>
                    <span></span>
                    <ul>
                        <li>教学覆盖听、说、读、写、思维培养等多个维度，</li>
                        <li>全面提升孩子英语能力。</li>
                        <li>梯度式内容安排，</li>
                        <li>由易到难、由浅至深，</li>
                        <li>帮助孩子一步一步打好英语基础。</li>
                    </ul>
                </dd>
            </dl>
            <dl class="auto_detail mt7">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/202010301095418.png"/>
                </dt>
                <dd>
                    <h3>针对性突破练习</h3>
                    <span></span>
                    <ul>
                        <li>根据孩子课堂表现和学习数据分配复习比例，</li>
                        <li>对于已经熟练掌握的知识点降低复习占比，</li>
                        <li>未能熟练掌握的知识点则进行针对性突破练习，</li>
                        <li>实现事半功倍、高效学习的目标。</li>
                    </ul>
                </dd>
            </dl>
            <dl class="auto_detail">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/202010301095613.png"/>
                </dt>
                <dd>
                    <h3>智能分析反馈学情</h3>
                    <span></span>
                    <ul>
                        <li>留存、记录孩子学习数据，</li>
                        <li>通过智能分析定期向老师、家长反馈孩子学习情况，</li>
                        <li>对各个模块做出评校，</li>
                        <li>孩子的掌握程度、优势劣势一目了然。</li>
                    </ul>
                </dd>
            </dl>
            <dl class="auto_detail">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/202010301095702.png"/>
                </dt>
                <dd>
                    <h3>教师调整教学</h3>
                    <span></span>
                    <ul>
                        <li>根据每个孩子学习进度情况的不同，</li>
                        <li>教师适时调整教学方式及教学路径，</li>
                        <li>制定个性化教学方案，</li>
                        <li>帮助孩子将时间有效地花在薄弱的知识点上。</li>
                    </ul>
                </dd>
            </dl>
            <dl class="auto_detail">
                <dt>
                    <img src="http://img.cdn.brocaedu.com/2020103010101741.png"/>
                </dt>
                <dd>
                    <h3>分层次学习</h3>
                    <span></span>
                    <ul>
                        <li>根据孩子的接受程度，实时调控学习难度，</li>
                        <li>让基础扎实、成绩优异的孩子学习具有挑战的内容，</li>
                        <li>有效拔高现有水平；</li>
                        <li>让成绩一般或者成绩不佳的孩子学习容易听懂并接受的知识点，</li>
                        <li>打好基础再进阶突破。</li>
                    </ul>
                </dd>
            </dl>
        </section>
    </section>
    <!-- 版权 -->
    {{template "footer"}}
    <script>
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase();
        var isMobile = false;
        for (var i=0; i<mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i])!=-1){
                isMobile = true;
                location.href = '/ai';
                break;
            }
        }
    </script>
    </body>
    </html>
{{end}}