{{define "index/new.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>最近动态</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
        <!--bootstrap start--->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {{template "head"}}
        <link href="/static/assets/css/new.css" rel="stylesheet"/>
    </head>
    <body>
    <section class="detail_head">
        {{template "nav"}}
    </section>
    <section class="new_banner">
        <img src="{{.banner.Imgurl}}">
    </section>
    <section class="new_ul">
        {{ range .list}}
            <a href="/detail?id={{.ID}}">
                <dl>
                    <dt><img src="{{.ThumbImg}}"></dt>
                    <dd>
                        <section class='new_left'>
                            <p class="date">{{.CreatedAt | subDate}} <span class="new_left_line"></span></p>
                            <p class="year">{{.CreatedAt | subYear}}</p>
                        </section>
                        <section class="new_right">
                            <h3>{{.Title}}</h3>
                            <p>{{.Summary}}</p>
                            <span class="read">阅读原文</span>
                        </section>
                    </dd>
                </dl>
            </a>
        {{end}}
    </section>
    <!--分页-->
    <section style="width: 1200px;margin: 0 auto">
        <input type="hidden" id="PageCount" value="{{.count}}">
        <div id="example" style="text-align: center"> <ul id="pageLimit"></ul>
        </div>
    </section>
    <!-- 版权 -->
    {{template "footer"}}
    <script src="/static/js/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="/static/index/new.js"></script>
    <script>
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase();
        var isMobile = false;
        for (var i=0; i<mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i])!=-1){
                isMobile = true;
                location.href = '/list';
                break;
            }
        }
    </script>
    </body>
    </html>
{{end}}