{{define "index/subject.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>课程体系</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/subject.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <!-- banner -->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/assets/images/home_banner1.png">
            </div>
        </div>
    </div>
    <!-- 布罗卡斯课程理念 -->
    <section class="pub elearn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                布罗卡斯课程理念
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h3 class="learn">高效学习，事半功倍</h3>
        <section class="elearn_con">
            <dl>
                <dt class="graph_desc">
                    <h3>Happy</h3>
                    <ul>
                        <li>充满趣味性的产品设计</li>
                        <li>以孩子兴趣为出发点</li>
                        <li>点燃孩子学习内驱力</li>
                    </ul>
                </dt>
                <dd class="graph">
                    H
                </dd>
            </dl>
            <dl>
                <dd class="graph a_graph">
                    <span>A</span>
                </dd>
                <dt class="graph_desc">
                    <h3>Artificial Intellige</h3>
                    <ul>
                        <li>AI人工智能练习系统+大数据分析报告</li>
                        <li>关注每一位孩子独特的成长足迹</li>
                        <li>让每一名孩子成长为更好的自己</li>
                    </ul>
                </dt>
            </dl>
        </section>
        <section class="elearn_con">
            <dl>
                <dt class="graph_desc">
                    <h3>Learning</h3>
                    <ul>
                        <li>以母语习得的方式</li>
                        <li>在无压力的环境下</li>
                        <li>自然提高英语能力</li>
                    </ul>
                </dt>
                <dd class="graph learning">
                    L
                </dd>
            </dl>
            <dl>
                <dd class="graph free">F</dd>
                <dt class="graph_desc">
                    <h3>Free</h3>
                    <ul>
                        <li>AI解放老师，解放家长</li>
                        <li>通过趣味游戏和线上人机互动模式</li>
                        <li>培养英文学习主动性+大数据分析报告</li>
                    </ul>
                </dt>
            </dl>
        </section>
    </section>
    <!-- BROCA英语VS传统英语 -->
    <section class="system_list between">
        <h3 class="tit">
            <span class="tit_icon"></span>
            BROCA英语VS传统英语
            <span class="tit_icon"></span>
        </h3>
    </section>
    <section class="ct pub">
        <section class="ct_con">
            <section class="ctList">
                <section class="ctL">
                    <section class="ctL_con">
                        <h5><span>BROCA英语</span></h5>
                        <ul>
                            <li>AI智能分析每个孩子特征，因材施教</li>
                            <li>结合实体课堂人机互教，直接提分快速有效</li>
                            <li>知识点螺旋重叠式递增，注重交流、阅读和应用</li>
                            <li>电子课件涵盖1000+专属儿童英文游戏，提升课堂互动性</li>
                            <li>APP植入真人外教，辅助复习</li>
                            <li>APP激励系统锻炼孩子项目管理能力</li>
                        </ul>
                    </section>
                </section>
                <section class="ctM">
                    <ul>
                        <li>科技方面</li>
                        <li>教学方面</li>
                        <li>课程方面</li>
                        <li>课件方面</li>
                        <li>线上APP</li>
                        <li>能力培养</li>
                    </ul>
                </section>
                <section class="ctR">
                    <section class="ctR_con">
                        <h5><span>传统英语</span></h5>
                        <ul>
                            <li>没有AI系统</li>
                            <li>只有老师面授，没有人机互动</li>
                            <li>单纯模块化教学内容，抽象不易理解</li>
                            <li>只有简单的动画、图片或PPT，无法实现互动</li>
                            <li>APP中缺少真人外教视频</li>
                            <li>APP内容单一</li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <!-- BROCA课程体系 -->
    <section class="pub subject">
        <section class="subject_con">
            <section class="system_list">
                <h3 class="tit">
                    <span class="tit_icon"></span>
                    BROCA课程体系
                    <span class="tit_icon"></span>
                </h3>
            </section>
            <section class="level_tit">
                <li>幼儿段 For Kids</li>
                <li>少儿段 For Pupils</li>
            </section>
            <section class="level_con">
                <ul>
                    <li>
                        <h3>NCET</h3>
                        <p>青少儿英语能力展示活动</p>
                    </li>
                    <li>
                        <h3>CES</h3>
                        <p>中国英语能力等级量表</p>
                    </li>
                    <li>
                        <h3>CEFR</h3>
                        <p>欧洲共同语言参考标准</p>
                    </li>
                </ul>
                <ul class="three">
                    <li>
                        词汇量：300+，通过游戏方式参与到英语活动中来，激发学习兴趣。
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="six three">
                    <li>
                        词汇量：600+，注重交流能力和礼仪的培养，在引导下根据图片用英文描述场景，表达自己的喜好、情绪。
                    </li>
                    <li class="k1">K1</li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="one three">
                    <li>
                        词汇量：1000+，能用英文简单复述故事情节，进行简单的英文戏剧表演，综合发展阅读能力，逐步养成学习英文的好习惯。
                    </li>
                    <li class="k1">K2</li>
                    <li class="k1">L1</li>
                    <li class="k1">A1</li>
                </ul>
                <ul class="eight three">
                    <li>
                        词汇量：800+，听、说、读、写能力全面发展，能按指定话题开展简单的讨论与交流，适应AI互动模式。
                    </li>
                    <li class="k1">L1/L2</li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="oneT three">
                    <li>
                        词汇量：1200+，建立学习英语的主动性和成就感，养成按意群阅读的习惯，有意愿主动展现自己的英文能力，应试能力大幅度提高。
                    </li>
                    <li class="k1">L3/L4</li>
                    <li class="k1">L2</li>
                    <li></li>
                </ul>
                <ul class="last three">
                    <li>
                        词汇量：1600+，能听懂相关话题并讨论，能读懂相应水平的读物，使用英文工具探索新的知识领域，能通过书写作文表达个人观点，理解中外文化差异。
                    </li>
                    <li class="k1">L5/L6</li>
                    <li class="k1">L3</li>
                    <li class="k1">A2</li>
                </ul>
            </section>
        </section>
    </section>
    <!-- M.I.C.多维智能教学法与8大特色教学 -->
    <section class="pub eight">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                M.I.C.多维智能教学法与8大特色教学
                <span class="tit_icon"></span>
            </h3>
        </section>
        <h4>兴趣x专注x互动=效果³</h4>
        <section class="eight_con">
            <dl>
                <dt>
                    <p class="circle"></p>
                    <h5>多感官教学</h5>
                    <h6>五官统合</h6>
                </dt>
                <dd>1</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle ztsjx"></p>
                    <h5>主题式教学</h5>
                    <h6>生活情境</h6>
                </dt>
                <dd>2</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle jhsjx"></p>
                    <h5>全电子化交互式教学</h5>
                    <h6>有趣又有效</h6>
                </dt>
                <dd>3</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle fyjx"></p>
                    <h5>TPR全身肢体反应教学</h5>
                    <h6>知难行易</h6>
                </dt>
                <dd>4</dd>
            </dl>
        </section>

        <section class="eight_con">
            <dl>
                <dt>
                    <p class="circle lxsjx"></p>
                    <h5>重叠螺旋式教学</h5>
                    <h6>温故知新</h6>
                </dt>
                <dd>5</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle sdjx"></p>
                    <h5>会话演练与故事说读教学</h5>
                    <h6>听说读写</h6>
                </dt>
                <dd>6</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle gyjx"></p>
                    <h5>说唱歌谣教学</h5>
                    <h6>易学易记</h6>
                </dt>
                <dd>7</dd>
            </dl>
            <dl>
                <dt>
                    <p class="circle pdjx"></p>
                    <h5>自然拼读教学</h5>
                    <h6>识字阅读</h6>
                </dt>
                <dd>8</dd>
            </dl>
        </section>
    </section>
    <!-- 布罗卡斯学习流程 -->
    <section class="pub xxlc">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                布罗卡斯学习流程
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="lc_con">
            <section class="lc_con_img">
                <img src="/static/assets/images/pc_teacher.png" />
            </section>
            <section class="lc_center_con">
                <ul>
                    <dl>
                        <dt class="first">
                        </dt>
                        <dd>
                            <h3>入学测评</h3>
                            <p>了解孩子学习能力、学习基础、个人偏好及性格等</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sec">
                        </dt>
                        <dd>
                            <h3>个性化辅导方案</h3>
                            <p>基于数据分析，定制适合孩子个性特点的辅导方案</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="first">
                        </dt>
                        <dd>
                            <h3>定位薄弱点</h3>
                            <p>人机互动精准了解孩子的知识点掌握情况</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sec">
                        </dt>
                        <dd>
                            <h3>定制学习资料库</h3>
                            <p>依据个性方案系统匹配适学材料，因材施教，高效学习</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="first">
                        </dt>
                        <dd>
                            <h3>线上线下学习训练</h3>
                            <p>多维智能教学体系，给孩子专业、贴心的学习训练</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sec">
                        </dt>
                        <dd>
                            <h3>阶段测评</h3>
                            <p>对学员学习效果进行阶段测评，及时发现问题解决问题</p>
                        </dd>
                    </dl>
                </ul>
            </section>
            <section class="lc_con_btn">
                <ul>
                    <li class="prev"><</li>
                    <li class="next active_btn">></li>
                </ul>
            </section>
        </section>
    </section>
    <!-- 学习场景 -->
    <section class="pub learn">
        <section class="system_list">
            <h3 class="tit">
                <span class="tit_icon"></span>
                学习场景
                <span class="tit_icon"></span>
            </h3>
        </section>
        <section class="pic_toddler_con">
            <ul class="pic_toddler">
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_toddler.png?imageslim" src="http://img.mofashuxue.com/pic_toddler.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/newpic_toddler1.png?imageslim" src="http://img.mofashuxue.com/newpic_toddler1.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/newpic_toddler2.png?imageslim" src="http://img.mofashuxue.com/newpic_toddler2.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_toddler3.png?imageslim" src="http://img.mofashuxue.com/pic_toddler3.png?imageslim" class="lazy" style="">
                </li>
            </ul>
            <ul class="pic_children">
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children1.png?imageslim" src="http://img.mofashuxue.com/pic_children1.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children2.png?imageslim" src="http://img.mofashuxue.com/pic_children2.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children3.png?imageslim" src="http://img.mofashuxue.com/pic_children3.png?imageslim" class="lazy" style="">
                </li>
                <li>
                    <img data-original="http://img.mofashuxue.com/pic_children.png?imageslim" src="http://img.mofashuxue.com/pic_children.png?imageslim" class="lazy" style="">
                </li>
            </ul>
        </section>
    </section>
    <!-- 版权 -->
    {{template "footer"}}
    <script>
        var $slider = $('.lc_center_con ul');
        var $slider_child_l = $('.lc_center_con dl').length;
        var $slider_width = 224;
        var speed =3;

        $slider.width($slider_child_l * $slider_width);
        var slider_count = 0;
        if ($slider_child_l < 3) {
            $('.next').css({cursor: 'auto'});
        }
        $('.next').click(function() {
            if (!$('.next').hasClass("active_btn")) {
                $('.next').addClass("active_btn").prev().removeClass("active_btn");
            }
            if ($slider_child_l < 4 || slider_count >= $slider_child_l - 4) {
                return false;
            }
            slider_count++;
            $slider.animate({left: '-=' + $slider_width + 'px'}, 'slow');
            slider_pic();
        });

        $('.prev').click(function() {
            if (!$('.prev').hasClass("active_btn")) {
                $('.prev').addClass("active_btn").next().removeClass("active_btn");
            }
            if (slider_count <= 0) {
                return false;
            }
            slider_count--;
            $slider.animate({left: '+=' + $slider_width + 'px'}, 'slow');
            slider_pic();
        });
        function slider_pic() {
            if (slider_count >= $slider_child_l - 4) {
                $('.next').css({cursor: 'auto'});
            }
            else if (slider_count > 0 && slider_count <= $slider_child_l - 4) {
                $('.prev').css({cursor: 'pointer'});
                $('.next').css({cursor: 'pointer'});
            }
            else if (slider_count <= 0) {
                $('.prev').css({cursor: 'auto'});
            }
        }
    </script>
    </body>
    </html>
{{end}}