.wap_banner_form{
	width:91%;
	height: 361px;
	background: linear-gradient(270deg, #FF2837 0%, #CB161D 100%);
	box-shadow: 0px 10px 15px 0px #FFD0D0;
	border-radius: 10px;
	padding: 0 15px !important;
	margin: -15px auto 0;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}
.btit{
	width: 100%;
	font-size: 18px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 25px;
	padding: 25px 15px 10px 15px !important;
}
.bdesc{
	width: 100%;
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 20px;
	padding: 0 15px 20px 15px!important;
}
.wap_banner_form .form_tit{
	width: 100%;
	height: 44px;
	background: #FFFFFF;
}
.wap_banner_form .form_tit input{
	width: 100%;
	border-radius: 5px;
	text-indent: 1rem;
}
.van-button--info,.van-button--info:hover,.van-button--info:focus{
	width: 100%;
	height: 44px;
	border-radius: 22px;
	border: 1px solid #FFFFFF;
	color: #fff;
	background: linear-gradient(270deg, #FF2837 0%, #CB161D 100%);
	outline: none;
}
/*布罗卡斯智能英语 孩子信赖 妈妈优选*/
.bg_map{
	background:#F9FAFC url(../img/bg_map.png) no-repeat bottom center;
	height: 282px;
	width: 100%;
	background-size: 100%;
}
.bg_map h3{
	margin:0 auto;
	padding-top: 38px !important;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
}
.bg_map ul{
	margin-top: 15px;
	padding: 0 15px !important;
	float: left;
}
.bg_map ul li{
	width: 100%;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 20px;
	float: left;
	margin-bottom: 18px;
}
/*300*/
.broca_dl dl{
	width: 91%;
	margin: 0 auto 59px auto;
	position: relative;
	height: 162px;
	background: #FFFFFF;
	box-shadow: 0px 5px 21px 0px #E3E3E3;
	border-radius: 9px;
}
.broca_dl dl:first-child{
	margin-top: -30px;
	background:#FFF url(../img/ico_education.png) no-repeat center right;
	background-size: 86px 95px;
}
.broca_dl dl:nth-child(2){
	background:#FFF url(../img/ico_city_10.png) no-repeat center right;
	background-size: 86px 95px;
}
.broca_dl dl:last-child{
	background:#FFF url(../img/ico_education_1.png) no-repeat center right;
	background-size: 86px 95px;
}
.broca_dl dl dd{
	width: 100%;
	height: 86px;
	text-align: center;
	position: absolute;
	bottom: -38px;
	justify-content: center;
}
.broca_dl dl dd img{
	width: 86px;
	height: 86px;
}
.broca_dl dl dt strong{
	font-size: 47px;
	font-family: MicrosoftYaHeiSemibold;
	color: #333333;
	line-height: 63px;
}
.broca_dl dl dt{
	height: 63px;
	font-size: 22px;
	font-family: MicrosoftYaHei;
	color: #333333;
	line-height: 30px;
	text-align: center;
	width: 100%;
	padding-top: 37px !important;
}
/*源于19世纪脑科学 布罗卡斯语言区理论体系*/
.subject_warp{
	width: 100%;
	height: 446px;
	margin-bottom: 40px;
}
.subject_warp h3{
	width: 100%;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	margin: 0 auto 15px;
	text-align: center;
	padding-top: 41px !important;
}
.tx_warp{
	width: 100%;
	height:340px;
	background: #014B99;
}
.tx_desc{
	width: 100%;
	height: 100px;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 20px;
	padding: 20px 15px 0 15px !important;
}
.subject_con_l{
	justify-content: center;
	display: flex;
	width: 100%;
	height:184px;
}
.heart {
	animation:heartbeat 1s infinite;
	-webkit-animation:heartbeat 1s infinite;
	width: 50px;
	height: 50px;
	background: #CB161D;
	position: relative;
	filter:drop-shadow(0px 0px 20px rgb(203, 22, 29));
	filter: opacity(0.2);
	transform: rotate(45deg);
	left: 78px;
	border-radius: 99px;
	top: 64px;
}
.heart_circle{
	width: 30px;
	height: 30px;
	background: #CB161D;
	border-radius: 50px;
	margin-top: 24px;
	margin-left: 88px;
	opacity: 0.2;
}
@keyframes heartbeat {
	0% {
		transform:rotate(45deg) scale(0.8,0.8);
		opacity:1;
	}
	25% {
		transform:rotate(45deg) scale(1,1);
		opacity:0.8;
	}
	100% {
		transform:rotate(45deg) scale(0.8,0.8);
		opacity:1;
	}
}
.dottedCircle {
	width: 76px;
	height: 76px;
	display: block;
	background: url("../../assets/img/dottedcircle2_hover.png") no-repeat 0 0;
	border-radius: 76px;
	background-size: 76px 76px;
	position: absolute;
	top: 0;
	left:19px;
	-webkit-transform: rotate(360deg);
	animation: rotation 8s linear infinite;
	-moz-animation: rotation 8s linear infinite;
	-webkit-animation: rotation 8s linear infinite;
	-o-animation: rotation 8s linear infinite;
}
.dottedcircle1{
	width: 60px;
	height: 60px;
	display: block;
	background: url("../../assets/img/dottedcircle2_hover.png") no-repeat 0 0;
	border-radius: 50px;
	background-size: 60px 60px;
	position: absolute;
	top: 7.5px;
	left:26.5px;
	animation: dottedrotation 5s linear infinite;
	-moz-animation: dottedrotation 5s linear infinite;
	-webkit-animation: dottedrotation 5s linear infinite;
	-o-animation: dottedrotation 5s linear infinite;
}

@-webkit-keyframes dottedrotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}

.loop {
	width: 143px;
	color: #FFFFFF;
	height: 79px;
	position: relative;
	top: 39px;
	box-sizing: border-box;
}
/*top: 65px;*/
@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
.loop h4{
	width: 112%;
	height: 76px;
	font-size: 16px;
	font-family: Helvetica;
	color: #FFFFFF;
	line-height: 76px;
	text-align: center;
}
.pic_brain{
/*../../img/pic_brain@2x.png*/
	background: url("../../assets/img/pic_brain@2x.png") no-repeat;
	margin: 25px 0 0 15px;
	background-size: 95%;
	height: 159px;
	width: 350px;
}
.subject_desc{
	width: 755px;
	height: 120px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	color: #FFFFFF;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
}
/*联合世界名校和美国优质教育资源倾力打造*/
.make{
	width: 100%;
	height: 767px;
	background: #F9FAFC;
}
.make h3{
	width: 100%;
	height: 25px;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	text-align: center;
	margin: 30px auto 15px auto;
	display: inline-block;
}
.uc{
	margin: 0 auto;
	width: 100%;
	padding: 0 15px !important;
}
.ul_img {
	width: 91%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 16px auto 0;
}
.ul_img .van-image:first-child{
	margin-right: 9px;
}
.ul_img .van-image:last-child{
	margin-left: 9px;
}
/*10万+学员家长 选择布罗卡斯智能英语的理由*/
.wan_warp{
	width: 100%;
	height: 897px;
}
.wan_con{
	position: relative;
	height: 792px;
}
.wan_warp h3{
	width: 100%;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	text-align: center;
	margin: 40px auto 15px;
	display: inline-block;
}
.cwl{
	width: 100%;
	background: #CB161D url("../../assets/img/bg_BROCA.png") no-repeat top 20px  right 52px;
	background-size:273px 77px;
	height: 396px;
	margin: 0 auto;
}
.cwr{
	width: 100%;
	background: #014B99 url("../../assets/img/bg_ENGLISH.png") no-repeat top 73px  left 12px;
	background-size: 353px 77px;
	height: 396px;
}
.smallTit{
	width:100%;
	height: 22px;
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}
.smallSlogan{
	width: 100%;
	height: 17px;
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 17px;
	text-align: center;
}
.cwc ul{
	margin: 34px auto 0;
	width: 100%;
}
.cwc ul li{
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
}
.cwm{
	width: 88px;
	height: 105px;
	background:url("../../assets/img/pic_vs.png") no-repeat 0 0  ;
	background-size: 88px 105px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.cwr .cwc .smallTit{
	margin-top: 83px;
}
/*采用国际前沿技术 第一代出国潮的推动者*/
.run_warp_wap h3{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	display: inline-block;
	margin: 40px auto 21px;
}
.run_warp_wap dl{
	width: 91%;
	height: 433px;
	background: #FFFFFF;
	box-shadow: 0px 5px 21px 0px #E3E3E3;
	border-radius: 10px;
	margin: 0 auto 20px auto;
}
.run_warp_wap dl:last-child{
	height: 479px;
}
.run_warp_wap h5{
	width: 100%;
	text-align: center;
	height: 22px;
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 22px;
	margin: 20px auto 10px;
}
.run_warp_wap p{
	width: 100%;
	text-align: left;
	height: 92px;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 23px;
	padding: 0 15px !important;
}
/*并非改善 而是革新 OMO多维情景授课与学习 让孩子从此更爱说英语*/
.change {
	width: 100%;
	height: 680px;
	background: #F9FAFC;
	margin-top: 20px;
}
.change h3{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	display: inline-block;
	margin: 30px auto 20px;
}
.lcf{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0 15px !important;
}
.lcf dl{
	width: 48%;
	margin-bottom: 10px;
}
.lcf dl dt{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
}
.lcf dl dd img{
	width: 100%
}
.lcf dl:first-child dt{
	background: linear-gradient(270deg, #FF2837 0%, #CB161D 100%);
	box-shadow: 0px 15px 20px 0px #FFD0D0;
}
.lcf dl:nth-child(2) dt{
	background: linear-gradient(270deg, #FC8E2F 0%, #F85515 100%);
	border-radius: 10px 10px 0px 0px;
}
.lcf dl:nth-child(3) dt{
	background: linear-gradient(270deg, #FBE7AB 0%, #F6CB73 100%);
	border-radius: 10px 10px 0px 0px;
}
.lcf dl:nth-child(4) dt{
	background: linear-gradient(270deg, #22DFDD 0%, #0FBCB8 100%);
	border-radius: 10px 10px 0px 0px;
}
.lcf dl:nth-child(5) dt{
	background: linear-gradient(270deg, #32ECFD 0%, #17D3FA 100%);
	border-radius: 10px 10px 0px 0px;
}
.lcf dl:last-child dt{
	background: linear-gradient(270deg, #0282C9 0%, #014B99 100%);
	border-radius: 10px 10px 0px 0px;
}
/*无缝衔接课前、课中、课后 更符合中国孩子的学习习惯 对标国内英语知识点，接轨国际前沿课程*/
.before h3{
	width: 100%;
	text-align: center;
	height: 75px;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	display: inline-block;
	margin: 30px auto 110px;
}
.index_join_con{
	width: 100%;
	height: 870px;
	margin: 0 auto;
}
.index_join_con dl{
	width: 91%;
	height: 377px;
	box-shadow: 0px 4px 16px 0px #E3E3E3;
	border-radius: 7px;
	margin: 0 auto;
}
.index_join_con dl:last-child{
	margin-top: 116px;
}
.index_join_con dl dt{
	width:100%;
	height: 160px;
	background: #FFFFFF;
	border-radius: 10px;
	text-align: center;
}
.index_join_con dl dt .van-image{
	margin-top: -28%;
}
.index_join_con dl dt h4{
	width: 100%;
	height: 22px;
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #CB161D;
	line-height: 22px;
	margin-top: 15px;
}
.index_join_con dl dt p{
	width: 100%;
	height: 17px;
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 17px;
	margin-top: 5px;
}
.index_join_con dl dd{
	width: 100%;
	height: 216px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	color: #333333;
	line-height: 30px;
}
.index_ul{
	height: 216px;
}
.index_join_con .index_ul li{
	width: 100%;
	height: 72px;
	line-height: 72px;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
}
.index_ul li:first-child {
	background: #F24747;
}
.index_ul li:nth-child(2) {
	background: #E42D36;
	padding: 17px 15px 12px 15px!important;
	box-sizing: border-box;
	display: -webkit-box;
	line-height: 20px;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.index_ul li:last-child {
	background: #CE1921;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.index_join_con dl:last-child dd ul li:first-child {
	background: #FF974F !important;
}
.index_join_con dl:last-child dd ul li:nth-child(2) {
	background: #F97319;
}
.index_join_con dl:last-child  dd ul li:last-child {
	background:#F85515;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
/*布罗卡斯梯度进阶课程体系 夯实基础 循序渐进地综合提升孩子的英语能力*/
.en_warp{
	width: 100%;
	height: 873px;
	background: #F9FAFC;
	justify-content: center;
	text-align: center;
}
.en_warp h3{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #333333;
	line-height: 25px;
	display: inline-block;
	margin: 30px auto 20px;
}
.en_warp img{
	padding: 0 10px !important;
}
.en_warp img:first-child{
	margin-bottom: 30px;
}
/*新闻动态*/
.news {
	width: 100%;
	margin: 0 auto 41px 15px;
	height: 227px;
	position: relative;
	overflow-x: auto;
}
.newTit{
    width: 100%;
    text-align: center;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    margin: 40px auto 15px auto;
	justify-content: center;
}
.new_ul{
	position: absolute;
	width:1015px;
	left: 0;
	height: 227px;
}
.new_ul a{
	float: left;
	margin-right: 10px;
	text-decoration: none;
}
.new_ul a:hover,.new_ul a:link{
	text-decoration: none;
}
.new_ul a dl dt img,.new_ul a dl dt{
	width: 225px;
	height: 126px;
	float: left;
}
.new_ul a dl,.new_ul a{
	width: 225px;
	height: 227px;
	background: #F9FAFC;
	border-radius: 10px;
	display: inline-block;
}
.new_ul a dl dd h3{
	width: 100%;
	height: 44px;
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 17px 14px 7px 15px !important;
}
.new_ul a dl dd p {
	width: 100%;
	text-align: left;
	height: 17px;
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 17px;
	padding: 0 14px 0 15px !important;
}
.more {
	width: 50px !important;
	font-size: 18px;
	line-height: 227px !important;
	text-align: center;
}