.brand{
	background:#FFFAEF url(http://img.cdn.brocaedu.com/bg_Introduction%402x.png) no-repeat bottom 45px center;
	background-size:345px 602px;
	height: 720px;
	margin: 0 auto;
	width: 100%;
}
.brand .system_list{
	margin: 33px auto 17px auto;
}
.brand_con{
	width: 345px;
	margin: 102px auto 0 auto;
	overflow: hidden;
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:23px;
}
.brand_con p{
	width: 100%;
	margin-top: 10px;
	padding: 0 20px !important;
	box-sizing: border-box;
}
/* 品牌起源 */
.brand_com{
	background:#EEF9FF url(http://img.cdn.brocaedu.com/bg_origin%402x.png) no-repeat bottom 50px center;
	background-size:345px 363px;
	height: 488px;
	margin: 0 auto;
	width: 100%;
}
.brand_com .system_list{
	margin: 33px auto 17px auto;
}
.com_tit{
	width:100%;
	height:22px;
	font-size:16px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(203,22,29,1);
	line-height:22px;
	text-align: center;
	margin-top: 130px;
	display: inline-block;
}
.brand_com_con{
	width: 345px;
	margin: 0 auto;
}
.com_con{
	width:100%;
	padding: 0 20px !important;
	display: inline-block;
	box-sizing: border-box;
	height: 124px;
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666;
	line-height: 23px;
	margin-top: 10px;

}
/* 品牌荣誉 */
.honor {
	width: 100%;
}
.honor .system_list{
	margin: 33px auto 17px auto;
}
.brand_ul{
	background: url(../img/bg_blur.png) no-repeat top center;
	background-size: 100% 170px;
	height: 170px;
	width: 100%;
	overflow: hidden;
}

/* 轮播图 */
.pc-banner {
	width: 100%;
	margin-top: 30px;
}
/* BROCA英语六大优势 */
.six_ul{
	width: 95%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 0 auto;
}
.six  .system_list{
	margin: 33px auto 17px auto;
}
.six_ul dl{
	width: 168px;
	height: 155px;
	background: #FFFFFF;
	border-radius: 10px;
	position: relative;
}
.six_ul dl:first-child{
	background:rgba(255,255,255,1);
	border:3px solid rgba(231,195,121,1);
}
.six_ul_tit{
	background:rgba(231,195,121,1) url(../img/ico_team_red.png) no-repeat right -20px center;
	height: 50px;
	width: 100%;
	font-size:16px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(255,255,255,1);
	line-height:50px;
	text-align: center;
	background-size: 64px 64px;
}
.six_ul dl:last-child{
	background:rgba(255,255,255,1);
	border:3px solid rgba(0,128,203,1);
}
.six_ul dl:last-child dt.six_ul_tit{
	background:#0080CB url(../img/ico_standard_red@2x.png) no-repeat right -20px center !important;
	background-size: 64px 64px !important;
}
.six_ul_con{
	width:100%;
	font-size:14px;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:20px;
	padding: 10px 11px 0 11px !important;
	box-sizing: border-box;
}
.smallIcon{
	width: 46px;
	height: 31px;
	background: url(../img/ico_1@2x.png) no-repeat left top;
	background-size: 46px 31px;
	display: inline-block;
	left: -6px;
	position: absolute;
	top: -12px;
}
.six_ul dl:last-child .smallIcon{
	background: url(../img/ico_2@2x.png) no-repeat left top !important;
	background-size: 46px 31px !important;
}
.last dl:first-child{
	background:rgba(255,255,255,1);
	border:3px solid rgba(15,188,184,1);
}
.last dl:last-child{
	background:rgba(255,255,255,1);
	border:3px solid #E7C379;
}

.last dl:first-child dt.six_ul_tit{
	background:#0FBCB8 url(../img/ico_market_red@2x.png) no-repeat right -20px center;
	background-size: 64px 64px;
}

.last dl:last-child dt.six_ul_tit{
	background:#E7C379 url(../img/ico_authority_red@2x.png) no-repeat right -20px center !important;
	background-size: 64px 64px !important;
}

.last dl:first-child .smallIcon{
	background: url(../img/ico_4@2x.png) no-repeat left top;
	background-size: 46px 31px;
}

.last dl:last-child .smallIcon{
	background: url(../img/ico_5@2x.png) no-repeat left top !important;
	background-size: 46px 31px !important;
}
.mid{
	width: 345px;
	height: 123px;
	background:rgba(255,255,255,1);
	border-radius:20px;
	border:3px solid rgba(237,124,138,1);
	position: relative;
	margin: 15px auto;
}
.mid .six_ul_tit{
	background:#ED7C8A url(../img/ico_ai_red@2x.png) no-repeat right -20px center;
	background-size:64px 64px;
	border-top-right-radius: 16px;
}
.mid .six_ul_tit .smallIcon{
	background: url(../img/ico_3@2x.png) no-repeat left top;
	background-size: 46px 31px;
}
.last_item{
	background: url(http://img.cdn.brocaedu.com/bg_green%402x.png) no-repeat bottom center;
	background-size: 100% 278px;
	height: 289px;
	width: 100%;
	margin: 0 auto;
}
.last_item dl{
	margin: 15px 0 0 11px;
}
.last_item dl:first-child .smallIcon{
	background: url(../img/ico_6@2x.png) no-repeat left top !important;
	background-size: 46px 31px !important;
}
.last_item dl:first-child dt.six_ul_tit{
	background:#0080CB url(../img/ico_resources_red@2x.png) no-repeat right -20px center !important;
	background-size: 64px 64px !important;
}
.last_item dl:first-child .six_ul_con{
	padding-top: 1px !important;
}
footer{
	margin-top: -85px;
	position: relative;
	z-index: 1;
}