.banner{
    width: 100%;
    height: 200px;
    justify-content: center;
    overflow: hidden;
}
.banner img {
    height: 100%;
}
.brand_ul {
    width: 100%;
    margin: 0 auto;
    height:210px;
    overflow: hidden;
    background: #F9FAFC;
}
.pc-banner {
    width: 100%;
    float: left;
}
.elearn{
    background: url(http://img.cdn.brocaedu.com/bg_red111.png) no-repeat bottom center;
    background-size: 100% 337px;
    height: 469px;
}
.elearn .system_list{
    margin-top: 33px;
    margin-bottom: 18px;
}
.leader {
    height: 167px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 9px;
}
.leader img{
    height: 167px;
}
.swiper-slide img{
    height: 210px;
    margin: 0 auto;
}
/*教师选拔标准*/
.selecte .system_list{
    margin-top: 30px;
    margin-bottom: 19px;
}
.selecte dl{
    width: 93%;
    height: 76px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    position: relative;
}
.dlL{
    position: absolute;
    z-index: 1;
    width: 59px;
    height: 86px;
    background: #00A1A7;
    border-radius: 10px;
    left: -3px;
    top: -8px;
    overflow: hidden;
}
.dlR {
    padding: 18px 12px 18px 68px !important;
}
.dlL img{
    width: 59px;
    height: 59px;
    display: inline-block;
}
.dlL span{
    width:100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 17px;
    text-align: center;
    display: inline-block;
}
.abc{
    border: 3px solid #00A1A7 !important;
    background: #F0FEFF;
    color: #00A1A7;;
}
.abc .dlR{
    padding:4px 12px 0 68px !important
}
.sy{
    border: 3px solid #EB6E7D !important;
    background: #FDF0F2;
    color: #EB6E7D;
}
.sy .dlR{
    padding:13px 12px 0 68px !important
}
.sy .dlL{
    background: #EB6E7D;
}
.zy{
    background: #FFF5E3;
    border: 3px solid #DDB876;
    color: #D3A24A;
}
.zy .dlL{
    background: #DDB876;
}

.qh{
    border: 3px solid #0080CB !important;
    background: #EEF9FF;
    color: #0080CB;
}
.qh .dlR{
    padding:13px 12px 0 68px !important
}
.qh .dlL{
    background: #0080CB;
}
/*培训&考核*/
.check{
    width: 100%;
    height: 645px;
    background: #F0FEFF;
}
.check .system_list{
    margin-top: 23px;
    margin-bottom: 37px;
}
.join{
    width: 100%;
    background: url("http://img.cdn.brocaedu.com/bg_circle%402x.png") no-repeat right bottom;
    background-size: 248px 277px;
    height: 273px;
}
.join dl{
    width: 295px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 3px solid #00A1A7;
    left: 15px;
    position: relative;
}
.join .thumbBox{
    position: absolute;
    top: -23px;
    right: -55px;
    height: 137px;
    width: 115px;
}
.join .summary{
    margin: 9px 0 10px 9px;
}
.summary{
    width: 222px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
}
.content{
    width: 100%;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    padding: 0 9px !important;
    box-sizing: border-box;
}
.level{
    width: 100%;
    background: url(http://img.cdn.brocaedu.com/bg_circle%402x.png) no-repeat left bottom;
    background-size: 278px 277px;
    height: 282px;
}
.thumb_img{
    height: 137px;
}
.smallIcon{
    height: 40px;
}
.level dl{
    width: 295px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 3px solid #0080CB;
    right: 15px;
    position: relative;
}
.level .thumbBox{
    position: absolute;
    top: -23px;
    left: -55px;
    height: 137px;
    width: 115px;
}