/*10万+学员家长 选择布罗卡斯智能英语的理由*/
.wan_warp{
    width: 100%;
    height: 897px;
}
.wan_con{
    position: relative;
    height: 792px;
}
.wan_warp h3{
    width: 100%;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    text-align: center;
    margin: 40px auto 15px;
    display: inline-block;
}
.cwl{
    width: 100%;
    background: #CB161D url("../../assets/img/bg_BROCA.png") no-repeat top 20px  right 52px;
    background-size:273px 77px;
    height: 396px;
    margin: 0 auto;
}
.cwr{
    width: 100%;
    background: #014B99 url("../../assets/img/bg_ENGLISH.png") no-repeat top 73px  left 12px;
    background-size: 353px 77px;
    height: 396px;
}
.smallTit{
    width:100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
}
.smallSlogan{
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 17px;
    text-align: center;
}
.cwc ul{
    margin: 34px auto 0;
    width: 100%;
}
.cwc ul li{
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
}
.cwm{
    width: 88px;
    height: 105px;
    background:url("../../assets/img/pic_vs.png") no-repeat 0 0  ;
    background-size: 88px 105px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cwr .cwc .smallTit{
    margin-top: 83px;
}
/*布罗卡斯课程理念*/
.brocae_idea h3 {
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    margin: 40px auto 15px;
}
.brocae_idea dl{
    width: 100%;
    height: 205px;
    background: #F9FAFC;
    display: flex;
    flex-flow: row wrap;
}
.brocae_idea dl dt{
    width: 50%;
    display: inline-block;
}
.brocae_idea_tit h4{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin:30px auto 15px auto;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #CB161D;
    line-height: 22px;
}
.brocae_idea_tit ul {
    width: 100%;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    text-align: center;
}
.brocae_idea_tit ul li{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
}
.brocae_idea_tit:last-child ul li {
    margin-bottom: 16px;
}
.three .brocae_idea_tit ul li {
    margin-bottom: 6px;
}
.brocae_idea_img {
    overflow: hidden;
    display: inline-block;
    width: 50%;
    height: 205px;
}
.brocae_idea_img img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.brocae_idea{
    height:900px ;
}
/*布罗卡斯梯度进阶课程体系 夯实基础 循序渐进地综合提升孩子的英语能力*/
.en_warp{
    width: 100%;
    height: 873px;
    background: #F9FAFC;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.en_warp h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    display: inline-block;
    margin: 30px auto 20px;
}
.en_warp img{
    padding: 0 15px !important;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.en_warp .child{
    margin: 30px auto 40px;
}
/*M.I.C.多维智能教学法与8大特色教学*/
.eight h3{
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    margin: 40px auto 20px auto;
    text-align: center;
}
.eight_con{
    width: 91%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.eight_con:last-child{
    margin-bottom: 0;
}
.eight_con dl {
    position: relative;
    cursor: pointer;
    width: 48%;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px #E3E3E3;
    border-radius: 10px;
    margin-bottom: 24px;
}
.eight_con dl .circle{
    width:120px;
    height:120px;
    border:2px dashed #C3D9EE;
    border-radius: 100px;
    margin: 0 auto;
}
.circle_img{
    width: 120px;
    height: 120px;
    display: inline-block;
}

.eight_con_first .circle_img{
    background:url(../../assets/images/ico_teaching_sense.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_two .ztsjx{
    background:url(../../assets/images/ico_teaching_scene.png) no-repeat center;
    background-size: 48px 48px;
}

.eight_con_three .jhsjx{
    background:url(../../assets/images/ico_teaching_interactive.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_four .fyjx{
    background:url(../../assets/images/ico_teaching_body.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_five .lxsjx{
    background:url(../../assets/images/ico_teaching_spiral.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_six .sdjx{
    background:url(../../assets/images/ico_teaching_speak.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_seven .gyjx{
    background:url(../../assets/images/ico_teaching_music.png) no-repeat center;
    background-size: 48px 48px;
}
.eight_con_eight .pdjx{
    background:url(../../assets/images/ico_teaching_spelling.png) no-repeat center;
    background-size: 48px 48px;
}

.eight_con dl h5{
    width:100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
}
.eight_con dl h6{
    width:100%;
    display: inline-block;
    text-align: center;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin-top: 5px;
}
.eight_con dl dt{
    margin-top: 36px;
}
.eight_con dl dd {
    width: 62px;
    height: 132px;
    font-size: 100px;
    font-family: MicrosoftYaHei-Bold,MicrosoftYaHei;
    font-weight: bold;
    line-height: 132px;
    position: absolute;
    top: -14px !important;
    right: 8px !important;
    opacity:0.3;
    color: rgba(0,128,203,1);
}
.eight_con_six h5,.eight_con_four h5{
    font-size: 14px !important;
}
/* 布罗卡斯学习流程 */
.xxlc{
    width:100%;
    height:246px;
    background: url("../img/pic_bg.png") no-repeat top center;
    overflow-x: auto;
    background-size: 100% 246px;
}
.blksxxlc{
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    margin: 40px auto 15px auto;
    text-align: center;
    display: inline-block;
}
.xxlc_con_warp{
    width: 100%;
    height: 186px;
    overflow-x: auto;
    margin: 30px 0 0 35px;
}
.lc_con{
    width: 800px;
    height: 100%;
}
.lc_con_li{
    width: 155px;
    height: 186px;
    background: #CB161D;
    border-radius: 10px;
}
.lc_con_li h4{
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
    margin: 37px auto 15px;
}
.lc_con_li span{
    padding: 0px 14px 0 13px !important;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
}
.lc_con_arrow{
    width: 59px;
    background: url("../../assets/images/ico_arrow.png") no-repeat center center;
    background-size: 30px 20px;
    height: 186px;
}
/*把知识带进教室 把教室带进生活*/
.flife{
    width: 93%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.flife img{
    width: 48.5%;
    height: 134px;
}
.mlife img{
    width: 100%;
    height: 134px;
    margin: 0 auto;
}
.mlife {
    width: 93%;
    height: 134px;
    margin: 10px auto;
}
.life h3{
    width:100%;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    margin: 40px auto 15px auto;
    display: inline-block;
}
.mlife:last-child{
    margin-bottom: 40px;
}