/*分层次学习*/
.imgList img {
    height: 180px;
    width: 100%;
}
/*AI智学系统*/
.school {
    width:100%;
    height: 305px;
}
.school img{
    width: 100%;
    height: 305px;
}
/*AI自适应系统*/
.auto{
    background:url(http://img.cdn.brocaedu.com/202011301135746.png?imageslim) no-repeat top center;
    background-size: 100% 180px;
}
.auto dl{
    width: 92%;
    height: 160px;
    border-radius: 10px;
    margin: 0 auto 15px auto;
}
.auto dl:first-child{
    margin-top: 130px;
}
.auto dl dt{
    text-align: center;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #E5EBF3;
    line-height: 22px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}
.auto dl:last-child dt{
    margin-top: 10px;
}
.autoLine{
    width: 100%;
    justify-content: center;
    height: 1px;
    display: flex;
}
.autoLine span{
    width: 40px;
    height: 1px;
    background: #FFFFFF;
}
.con{
    width: 100%;
    text-align: left;
    padding: 11px 18px 0 18px !important;
    display: inline-block;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5BAD6;
    line-height: 20px;
}